{% extends 'html/base.html' %}
{% block content %}
{% load staticfiles %}
			<div class="col-md-8">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3>DSU Digital Library</h3>
					</div>
					<div class="panel-body">
						<p>Books are chief instrument of Education and Library is center of intellectual life so the Dayananda Sagar University
							is proud of good and comprehensive University Library with most modern facilities catering to the academic needs of
							the students and teaching community. The Library has a huge collection of books, along with CD's and DVD's apart from
							latest Journals and Periodicals, along with this access to e-resources is also available through the Digital Library
							'Think Centre' systems. DSU Digital Library Provides E-resources and other digital library services for users in a
							single search point.</p>
					</div>
				</div>
			</div>
		
{% endblock %}