{% load staticfiles %}
<!DOCTYPE html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="icon" href="{% static 'LOGOS/favicon.ico' %}" type="image/x-icon" />
	<title>DSU Digital Library</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet"> 
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
		crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet">
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<style type="text/css">

    body {
        /* Margin bottom by footer height */
        margin-bottom: 60px;
    }
.thumbnail{
    		width: 160px;
    		height: 170px;
    		overflow: auto;
	}

	.thumbnail img{
    		width: 100%;
    		height: auto;
    		display: block;
	}
    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        /* Set the fixed height of the footer here */
        height: 60px;
        background-color: #f5f5f5;
    }

	.bg{
		background:url({% static 'LOGOS/header_bg.jpg' %});
		size:100%;
	}
	h1{
		font-size: 34px;
	}
	.top{
		padding-top:10px;
	}
	img{
		padding-top:10px;
		padding-bottom:10px;
		}
	.html-marquee {
		height:50px;
		width:800px;
		font-size:14px;
		font-weight:bold;
		padding:10px;
	}
	.white{
		color:#ffffff;
		font-family: 'Roboto Condensed', sans-serif;
		}
	.quote-text{
		font-family: 'PT Sans Narrow', sans-serif;
		font-size: 45px;
	}

    </style>
</head>

<body>
	<div class="container-fluid bg1">
		<div class="row bg">
			<div class="col-md-3">
				<a href="../"><img src="{% static 'LOGOS/DSU LOGO.jpg' %}" width=250px height=100px></a>
			</div>
			<div class="col-md-5" font-color="white">
				<h1 class="white" align='center'>Digital Library & E-Learning Resources</h1>
			</div>
			<div class="col-md-4" font-color="white">
				<h2 class="white" align='right'><i>Library and Information Centre</i></h2>
			</div>
		</div>
		</div>
	</div>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a>Announcements <span class="sr-only">(current)</span></a></li>
					<li class="html-marquee">
						<marquee direction="left" behavior="scroll" scrollamount="7">
							* D Space Software implemented to providing of your Theses dissertation project report.
* Articles google scholar links on your research work. 
* Library Membership is open come and Join.
						</marquee>
					</li>
				</ul>

				<form class="navbar-form navbar-right" method="get" action="../search_results/">
					<div class="form-group">
						<input name="search_query" type="text" class="form-control" placeholder="Search">
					</div>
					<span type="submit" class="glyphicon glyphicon-search" id="search"></span>
				</form>
				<ul class="nav navbar-nav navbar-right">
        			<li><a href="http://127.0.0.1/login">Login</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2">
				<div class="list-group">
					<a href="../" class="list-group-item active">Home</a>
					<a href="../schools/" class="list-group-item">Schools</a>
					<a href="../about/" class="list-group-item ">About DSU Digital Library</a>
					<a href="../learning_resources/" class="list-group-item">Learning Resourses</a>
					<a href="../membership/" class="list-group-item">Library Membership Form</a>
				</div>
			</div>
		
		    {% block content %}
                {% endblock %}
		</div>
	<nav class="navbar navbar-default navbar-fixed-bottom">
		<div class="container">
			<div class="col-md-3 top">
				Page Hits: {{counter_value}}
			</div>
			<div class="col-md-3 top">
				<span class="glyphicon glyphicon-copyright-mark"></span> Dayananda Sagar University
			</div>
			<div class="col-md-2 top" align="center">
				<a href="../feedback/">Feedback</a>
			</div>
			<div class="col-md-2 top" align="center">
				<a href="../contact/">Contact us</a>
			</div>
			<div class="col-md-2 top">
				<a target="_blank" title="Home" href="http://www.dsu.edu.in"><i class="fa fa-home"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
				<a target="_blank" title="Facebook" href="https://www.facebook.com/Dayanandasagaruniversitybangalore"><i class="fa fa-facebook"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
				<a target="_blank" title="Twitter" href="https://twitter.com/DSIorganization"><i class="fa fa-twitter"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
				<a target="_blank" title="Google-Plus" href="https://plus.google.com/112592840884555805844"><i class="fa fa-google-plus"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
				<a target="_blank" title="Youtube" href="https://www.youtube.com/user/DSIorganization"><i class="fa fa-youtube" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
			</div>
		</div>
	</nav>

	<script>
		
	</script>

</body>

</html>
