{% load staticfiles %}
<!DOCTYPE html>

<head>
	<link rel="icon" href="{% static 'LOGOS/favicon.ico' %}" type="image/x-icon" />
	<title>DSU Digital Library</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
		crossorigin="anonymous">
	<style type="text/css">
	.bg{
		background:url({% static 'LOGOS/header_bg.jpg'%});
		size:100%;
	}
	h1{
		font-size: 34px;
	}
	.html-marquee {
		height:50px;
		width:800px;
		font-size:14px;
		font-weight:bold;
		padding:10px;
	}
	.top{
		padding-top:10px;
	}
	img{
		padding-top:10px;
		padding-bottom:10px;
		}
	.white{
		color:#ffffff;
		}

			</style>
</head>

<body>
	<div class="container-fluid bg1">
		<div class="row bg">
			<div class="col-md-2">
				<a href="../"><img src="{% static 'LOGOS/DSU LOGO.jpg' %}" width=250px height=100px></a>
			</div>
			<div class="col-md-8" font-color="white" align="center">
				<h1 class="white">
					<h1 class="white">Library and Information Centre</h1>
					<h4 class="white"><i>Digital Library & E-Learning Resources</i></h4>
				</h1>
			</div>
		</div>
	</div>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a>Announcements <span class="sr-only">(current)</span></a></li>
					<li class="html-marquee">
						<marquee direction="left" behavior="scroll" scrollamount="7">
							Announcement section. Put any one here.
						</marquee>
					</li>
				</ul>
				<form class="navbar-form navbar-right" method="get" action="../search_results/">
					<div class="form-group">
						<input name="search_query" type="text" class="form-control" placeholder="Search">
					</div>
					<span type="submit" class="glyphicon glyphicon-search" id="search"></span>
				</form>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="../login/">Login</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
	<hr>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2">
				<div class="list-group">
					<a href="../" class="list-group-item ">Home</a>
					<a href="../schools/" class="list-group-item">Schools</a>
					<a href="../about/" class="list-group-item">About DSU Digital Library</a>
					<a href="../learning_resources/" class="list-group-item active">Learning Resourses</a>
					<a href="../membership/" class="list-group-item">Library Membership Form</a>
				</div>
			</div>
			<div class="col-md-9">
				<div id="id1" style="overflow:scroll; height:450px;">
				<table class="table table-bordered table-hover">
					<tr>
						<th>SL NO.</th>
						<th>Book Account No.</th>
						<th>Title</th>
						<th>Author</th>
						<th>Publisher</th>
						<th>Edition</th>
						<th>Remarks</th>
					</tr>
					<tr>
						<td>1</td>
						<td>71</td>
						<td>Numerical Methods</td>
						<td>M K Jain & others</td>
						<td>New Age International</td>
						<td>6th </td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>2</td>
						<td>72</td>
						<td>Numerical Methods</td>
						<td>M K Jain & others</td>
						<td>New Age International</td>
						<td>6th </td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>3</td>
						<td>73</td>
						<td>Numerical Methods</td>
						<td>M K Jain & others</td>
						<td>New Age International</td>
						<td>6th </td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>4</td>
						<td>74</td>
						<td>Numerical Methods</td>
						<td>M K Jain & others</td>
						<td>New Age International</td>
						<td>6th </td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>5</td>
						<td>75</td>
						<td>Numerical Methods</td>
						<td>M K Jain & others</td>
						<td>New Age International</td>
						<td>6th </td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>6</td>
						<td>283</td>
						<td>Digital Electronics: Principles & Applications</td>
						<td>Roger L Tokheim</td>
						<td>TMH</td>
						<td>6th </td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>7</td>
						<td>284</td>
						<td>Digital Electronics: Principles & Applications</td>
						<td>Roger L Tokheim</td>
						<td>TMH</td>
						<td>6th </td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>8</td>
						<td>285</td>
						<td>Digital Electronics: Principles & Applications</td>
						<td>Roger L Tokheim</td>
						<td>TMH</td>
						<td>6th </td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>9</td>
						<td>286</td>
						<td>Digital Electronics: Principles & Applications</td>
						<td>Roger L Tokheim</td>
						<td>TMH</td>
						<td>6th </td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>10</td>
						<td>287</td>
						<td>Digital Electronics: Principles & Applications</td>
						<td>Roger L Tokheim</td>
						<td>TMH</td>
						<td>6th </td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>11</td>
						<td>410</td>
						<td>Microelectronics Circuits: Theory & Applications</td>
						<td>Adel S Sedra & others</td>
						<td>Oxford</td>
						<td>6th </td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>12</td>
						<td>411</td>
						<td>Microelectronics Circuits: Theory & Applications</td>
						<td>Adel S Sedra & others</td>
						<td>Oxford</td>
						<td>6th </td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>13</td>
						<td>412</td>
						<td>Microelectronics Circuits: Theory & Applications</td>
						<td>Adel S Sedra & others</td>
						<td>Oxford</td>
						<td>6th </td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>14</td>
						<td>413</td>
						<td>Microelectronics Circuits: Theory & Applications</td>
						<td>Adel S Sedra & others</td>
						<td>Oxford</td>
						<td>6th </td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>15</td>
						<td>414</td>
						<td>Microelectronics Circuits: Theory & Applications</td>
						<td>Adel S Sedra & others</td>
						<td>Oxford</td>
						<td>6th </td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>16</td>
						<td>465</td>
						<td>Operating Systems: Design & Implementation</td>
						<td>Andrew S Tanenbaum</td>
						<td>PHI</td>
						<td>3rd</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>17</td>
						<td>466</td>
						<td>Operating Systems: Design & Implementation</td>
						<td>Andrew S Tanenbaum</td>
						<td>PHI</td>
						<td>3rd</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>18</td>
						<td>467</td>
						<td>Operating Systems: Design & Implementation</td>
						<td>Andrew S Tanenbaum</td>
						<td>PHI</td>
						<td>3rd</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>19</td>
						<td>468</td>
						<td>Operating Systems: Design & Implementation</td>
						<td>Andrew S Tanenbaum</td>
						<td>PHI</td>
						<td>3rd</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>20</td>
						<td>469</td>
						<td>Operating Systems: Design & Implementation</td>
						<td>Andrew S Tanenbaum</td>
						<td>PHI</td>
						<td>3rd</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>21</td>
						<td>470</td>
						<td>Operating Systems: Design & Implementation</td>
						<td>Andrew S Tanenbaum</td>
						<td>PHI</td>
						<td>3rd</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>22</td>
						<td>471</td>
						<td>Operating Systems: Design & Implementation</td>
						<td>Andrew S Tanenbaum</td>
						<td>PHI</td>
						<td>3rd</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>23</td>
						<td>472</td>
						<td>Operating Systems: Design & Implementation</td>
						<td>Andrew S Tanenbaum</td>
						<td>PHI</td>
						<td>3rd</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>24</td>
						<td>473</td>
						<td>Operating Systems: Design & Implementation</td>
						<td>Andrew S Tanenbaum</td>
						<td>PHI</td>
						<td>3rd</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>25</td>
						<td>474</td>
						<td>Operating Systems: Design & Implementation</td>
						<td>Andrew S Tanenbaum</td>
						<td>PHI</td>
						<td>3rd</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>26</td>
						<td>630</td>
						<td>Engineering Drawing</td>
						<td>N D Bhatt</td>
						<td>Charotar</td>
						<td>None</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>27</td>
						<td>631</td>
						<td>Engineering Drawing</td>
						<td>N D Bhatt</td>
						<td>Charotar</td>
						<td>None</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>28</td>
						<td>632</td>
						<td>Engineering Drawing</td>
						<td>N D Bhatt</td>
						<td>Charotar</td>
						<td>None</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>29</td>
						<td>633</td>
						<td>Engineering Drawing</td>
						<td>N D Bhatt</td>
						<td>Charotar</td>
						<td>None</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>30</td>
						<td>634</td>
						<td>Engineering Drawing</td>
						<td>N D Bhatt</td>
						<td>Charotar</td>
						<td>None</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>31</td>
						<td>635</td>
						<td>Engineering Drawing</td>
						<td>N D Bhatt</td>
						<td>Charotar</td>
						<td>None</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>32</td>
						<td>636</td>
						<td>Engineering Drawing</td>
						<td>N D Bhatt</td>
						<td>Charotar</td>
						<td>None</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>33</td>
						<td>637</td>
						<td>Engineering Drawing</td>
						<td>N D Bhatt</td>
						<td>Charotar</td>
						<td>None</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>34</td>
						<td>638</td>
						<td>Engineering Drawing</td>
						<td>N D Bhatt</td>
						<td>Charotar</td>
						<td>None</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>35</td>
						<td>639</td>
						<td>Engineering Drawing</td>
						<td>N D Bhatt</td>
						<td>Charotar</td>
						<td>None</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>36</td>
						<td>787</td>
						<td>Digital Electronics: Logic & System</td>
						<td>Bignell & Donavan</td>
						<td>Cengage</td>
						<td>None</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>37</td>
						<td>788</td>
						<td>Digital Electronics: Logic & System</td>
						<td>Bignell & Donavan</td>
						<td>Cengage</td>
						<td>None</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>38</td>
						<td>1185</td>
						<td>Network Management: Concept & Practice</td>
						<td>J richard Burke</td>
						<td>Pearson</td>
						<td>None</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>39</td>
						<td>1186</td>
						<td>Network Management: Concept & Practice</td>
						<td>J richard Burke</td>
						<td>Pearson</td>
						<td>None</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>40</td>
						<td>1195</td>
						<td>The Intel Microprocessor Family: HW & SW Principles</td>
						<td>Antonakos</td>
						<td>Cengage</td>
						<td>None</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>41</td>
						<td>1224</td>
						<td>Wavelet Transforms: Introduction to theory & Application</td>
						<td>Raghuveer M Rao & others</td>
						<td>Pearson</td>
						<td>None</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>42</td>
						<td>1225</td>
						<td>Wavelet Transforms: Introduction to theory & Application</td>
						<td>Raghuveer M Rao & others</td>
						<td>Pearson</td>
						<td>None</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>43</td>
						<td>1235</td>
						<td>Research Methodology: Concept & Cases</td>
						<td>Dr. Deepak Chawla</td>
						<td>Vikas</td>
						<td>None</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>44</td>
						<td>1236</td>
						<td>Research Methodology: Concept & Cases</td>
						<td>Dr. Deepak Chawla</td>
						<td>Vikas</td>
						<td>None</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>45(1)</td>
						<td>1245(1)</td>
						<td>Design Environment</td>
						<td>None</td>
						<td>ISE</td>
						<td>None</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>45(2)</td>
						<td>1245(2)</td>
						<td>Documentation</td>
						<td>None</td>
						<td>ISE</td>
						<td>None</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>46(1)</td>
						<td>1246(1)</td>
						<td>Design Environment</td>
						<td>None</td>
						<td>ISE</td>
						<td>None</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>46(2)</td>
						<td>1246(2)</td>
						<td>Documentation</td>
						<td>None</td>
						<td>ISE</td>
						<td>None</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>47</td>
						<td>1325(1)</td>
						<td>Antenna theory: Analysis & Design</td>
						<td>Constantine A Balanis</td>
						<td>Wiley</td>
						<td>3rd</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>48</td>
						<td>1326</td>
						<td>Antenna theory: Analysis & Design</td>
						<td>Constantine A Balanis</td>
						<td>Wiley</td>
						<td>3rd</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>49</td>
						<td>1327</td>
						<td>Antenna theory: Analysis & Design</td>
						<td>Constantine A Balanis</td>
						<td>Wiley</td>
						<td>3rd</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>50</td>
						<td>1328</td>
						<td>Antenna theory: Analysis & Design</td>
						<td>Constantine A Balanis</td>
						<td>Wiley</td>
						<td>3rd</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>51</td>
						<td>1329</td>
						<td>Antenna theory: Analysis & Design</td>
						<td>Constantine A Balanis</td>
						<td>Wiley</td>
						<td>3rd</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>52</td>
						<td>1343</td>
						<td>Digital Signal Processing: A Computer Based Approach</td>
						<td>Sanjit K Mitra</td>
						<td>MGH</td>
						<td>4th</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>53</td>
						<td>1344</td>
						<td>Digital Signal Processing: A Computer Based Approach</td>
						<td>Sanjit K Mitra</td>
						<td>MGH</td>
						<td>4th</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>54</td>
						<td>1345</td>
						<td>Digital Signal Processing: A Computer Based Approach</td>
						<td>Sanjit K Mitra</td>
						<td>MGH</td>
						<td>4th</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>55</td>
						<td>1346</td>
						<td>Digital Signal Processing: A Computer Based Approach</td>
						<td>Sanjit K Mitra</td>
						<td>MGH</td>
						<td>4th</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>56</td>
						<td>1347</td>
						<td>Digital Signal Processing: A Computer Based Approach</td>
						<td>Sanjit K Mitra</td>
						<td>MGH</td>
						<td>4th</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>57</td>
						<td>1356</td>
						<td>Computer Arthitecture: A Quantitative Approach</td>
						<td>John L Hennessy</td>
						<td>Elsevier</td>
						<td>4th</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>58</td>
						<td>1357</td>
						<td>Computer Arthitecture: A Quantitative Approach</td>
						<td>John L Hennessy</td>
						<td>Elsevier</td>
						<td>4th</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>59</td>
						<td>1358</td>
						<td>Computer Arthitecture: A Quantitative Approach</td>
						<td>John L Hennessy</td>
						<td>Elsevier</td>
						<td>4th</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>60</td>
						<td>1359</td>
						<td>Computer Arthitecture: A Quantitative Approach</td>
						<td>John L Hennessy</td>
						<td>Elsevier</td>
						<td>4th</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>61</td>
						<td>1360</td>
						<td>Computer Arthitecture: A Quantitative Approach</td>
						<td>John L Hennessy</td>
						<td>Elsevier</td>
						<td>4th</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>62</td>
						<td>1441</td>
						<td>Principles of Soft computing</td>
						<td>S N Shivanandam</td>
						<td>Wiley</td>
						<td>2nd</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>63</td>
						<td>1442</td>
						<td>Principles of Soft computing</td>
						<td>S N Shivanandam</td>
						<td>Wiley</td>
						<td>2nd</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>64</td>
						<td>1443</td>
						<td>Principles of Soft computing</td>
						<td>S N Shivanandam</td>
						<td>Wiley</td>
						<td>2nd</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>65</td>
						<td>1444</td>
						<td>Principles of Soft computing</td>
						<td>S N Shivanandam</td>
						<td>Wiley</td>
						<td>2nd</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>66</td>
						<td>1445</td>
						<td>Principles of Soft computing</td>
						<td>S N Shivanandam</td>
						<td>Wiley</td>
						<td>2nd</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>67</td>
						<td>1523</td>
						<td>Material & Engineering </td>
						<td>Willium F Smith</td>
						<td>MGH</td>
						<td>None</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>68</td>
						<td>1524</td>
						<td>Material & Engineering </td>
						<td>Willium F Smith</td>
						<td>MGH</td>
						<td>None</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>69</td>
						<td>1525</td>
						<td>Callisters Material science & Engineering</td>
						<td>Callisters</td>
						<td>Willey</td>
						<td>None</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>70</td>
						<td>1526</td>
						<td>Callisters Material science & Engineering</td>
						<td>Callisters</td>
						<td>Willey</td>
						<td>None</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>71</td>
						<td>1549</td>
						<td>Research Methodology: Concept & Cases</td>
						<td>Dr. Deepak Chawla</td>
						<td>Vikas</td>
						<td>None</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>72</td>
						<td>1550</td>
						<td>Research Methodology: Concept & Cases</td>
						<td>Dr. Deepak Chawla</td>
						<td>Vikas</td>
						<td>None</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>73</td>
						<td>1591</td>
						<td>Digital Systems Design Using VHDL </td>
						<td>Charles H roth</td>
						<td>Cengage</td>
						<td>None</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>74</td>
						<td>1592</td>
						<td>Digital Systems Design Using VHDL </td>
						<td>Charles H roth</td>
						<td>Cengage</td>
						<td>None</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>75</td>
						<td>1593</td>
						<td>Digital Systems Design Using VHDL </td>
						<td>Charles H roth</td>
						<td>Cengage</td>
						<td>None</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>76</td>
						<td>1644</td>
						<td>HCL Programming Fundamentals: VHDL & Verilog</td>
						<td>Da Vinci</td>
						<td>Cengage</td>
						<td>None</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>77</td>
						<td>1645</td>
						<td>HCL Programming Fundamentals: VHDL & Verilog</td>
						<td>Da Vinci</td>
						<td>Cengage</td>
						<td>None</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>78</td>
						<td>1646</td>
						<td>HCL Programming Fundamentals: VHDL & Verilog</td>
						<td>Da Vinci</td>
						<td>Cengage</td>
						<td>None</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>79</td>
						<td>1702</td>
						<td>Introduction to Finite Elements in Engineering</td>
						<td>Tirupathi R Chandrupatla</td>
						<td>PHI</td>
						<td>None</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>80</td>
						<td>1703</td>
						<td>Introduction to Finite Elements in Engineering</td>
						<td>Tirupathi R Chandrupatla</td>
						<td>PHI</td>
						<td>None</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>81</td>
						<td>1704</td>
						<td>Introduction to Finite Elements in Engineering</td>
						<td>Tirupathi R Chandrupatla</td>
						<td>PHI</td>
						<td>None</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>82</td>
						<td>1705</td>
						<td>Introduction to Finite Elements in Engineering</td>
						<td>Tirupathi R Chandrupatla</td>
						<td>PHI</td>
						<td>None</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>83</td>
						<td>1706</td>
						<td>Introduction to Finite Elements in Engineering</td>
						<td>Tirupathi R Chandrupatla</td>
						<td>PHI</td>
						<td>None</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>84</td>
						<td>1707</td>
						<td>Introduction to Finite Elements in Engineering</td>
						<td>Tirupathi R Chandrupatla</td>
						<td>PHI</td>
						<td>None</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>85</td>
						<td>1708</td>
						<td>Introduction to Finite Elements in Engineering</td>
						<td>Tirupathi R Chandrupatla</td>
						<td>PHI</td>
						<td>None</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>86</td>
						<td>1709</td>
						<td>Introduction to Finite Elements in Engineering</td>
						<td>Tirupathi R Chandrupatla</td>
						<td>PHI</td>
						<td>None</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>87</td>
						<td>1710</td>
						<td>Introduction to Finite Elements in Engineering</td>
						<td>Tirupathi R Chandrupatla</td>
						<td>PHI</td>
						<td>None</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>88</td>
						<td>1711</td>
						<td>Introduction to Finite Elements in Engineering</td>
						<td>Tirupathi R Chandrupatla</td>
						<td>PHI</td>
						<td>None</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>89</td>
						<td>1712</td>
						<td>Programming & Customizing th e8051 microcontroller</td>
						<td>Myke Predko</td>
						<td>MGH</td>
						<td>None</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>90</td>
						<td>1713</td>
						<td>Programming & Customizing th e8051 microcontroller</td>
						<td>Myke Predko</td>
						<td>MGH</td>
						<td>None</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>91</td>
						<td>1714</td>
						<td>Programming & Customizing th e8051 microcontroller</td>
						<td>Myke Predko</td>
						<td>MGH</td>
						<td>None</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>92</td>
						<td>1720</td>
						<td>Microprocessor Architecture, Programming, & Applications with the 8085</td>
						<td>Ramesh Gaonker</td>
						<td>Penram</td>
						<td>None</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>93</td>
						<td>1721</td>
						<td>Microprocessor Architecture, Programming, & Applications with the 8085</td>
						<td>Ramesh Gaonker</td>
						<td>Penram</td>
						<td>None</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>94</td>
						<td>1722</td>
						<td>Microprocessor Architecture, Programming, & Applications with the 8085</td>
						<td>Ramesh Gaonker</td>
						<td>Penram</td>
						<td>None</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>95</td>
						<td>1850</td>
						<td>Power Electronics: Converters, Applications & Designs</td>
						<td>None</td>
						<td>Wiley India</td>
						<td>None</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>96</td>
						<td>1851</td>
						<td>Power Electronics: Converters, Applications & Designs</td>
						<td>None</td>
						<td>Wiley India</td>
						<td>None</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>97</td>
						<td>1852</td>
						<td>Power Electronics: Converters, Applications & Designs</td>
						<td>None</td>
						<td>Wiley India</td>
						<td>None</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>98</td>
						<td>1867</td>
						<td>VHDL Programming by Examples</td>
						<td>Douglas L Perry</td>
						<td>MGH</td>
						<td>4th</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>99</td>
						<td>1868</td>
						<td>VHDL Programming by Examples</td>
						<td>Douglas L Perry</td>
						<td>MGH</td>
						<td>4th</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>100</td>
						<td>1877</td>
						<td>Operation Management: Theory & Practice</td>
						<td>B Mahadevan</td>
						<td>Pearson</td>
						<td>2nd</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>101</td>
						<td>1878</td>
						<td>Operation Management: Theory & Practice</td>
						<td>B Mahadevan</td>
						<td>Pearson</td>
						<td>2nd</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>102</td>
						<td>1923</td>
						<td>Engineering Drawing: Plane & Solid Geometry</td>
						<td>N D Bhatt</td>
						<td>Charotar</td>
						<td>None</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>103</td>
						<td>1924</td>
						<td>Engineering Drawing: Plane & Solid Geometry</td>
						<td>N D Bhatt</td>
						<td>Charotar</td>
						<td>None</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>104</td>
						<td>1925</td>
						<td>Engineering Drawing: Plane & Solid Geometry</td>
						<td>N D Bhatt</td>
						<td>Charotar</td>
						<td>None</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>105</td>
						<td>1926</td>
						<td>Engineering Drawing: Plane & Solid Geometry</td>
						<td>N D Bhatt</td>
						<td>Charotar</td>
						<td>None</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>106</td>
						<td>1927</td>
						<td>Engineering Drawing: Plane & Solid Geometry</td>
						<td>N D Bhatt</td>
						<td>Charotar</td>
						<td>None</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>107</td>
						<td>1928</td>
						<td>Engineering Drawing: Plane & Solid Geometry</td>
						<td>N D Bhatt</td>
						<td>Charotar</td>
						<td>None</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>108</td>
						<td>1929</td>
						<td>Engineering Drawing: Plane & Solid Geometry</td>
						<td>N D Bhatt</td>
						<td>Charotar</td>
						<td>None</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>109</td>
						<td>1930</td>
						<td>Engineering Drawing: Plane & Solid Geometry</td>
						<td>N D Bhatt</td>
						<td>Charotar</td>
						<td>None</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>110</td>
						<td>1931</td>
						<td>Engineering Drawing: Plane & Solid Geometry</td>
						<td>N D Bhatt</td>
						<td>Charotar</td>
						<td>None</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>111</td>
						<td>1932</td>
						<td>Engineering Drawing: Plane & Solid Geometry</td>
						<td>N D Bhatt</td>
						<td>Charotar</td>
						<td>None</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>112</td>
						<td>1933</td>
						<td>Engineering Drawing: Plane & Solid Geometry</td>
						<td>N D Bhatt</td>
						<td>Charotar</td>
						<td>None</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>113</td>
						<td>1934</td>
						<td>Engineering Drawing: Plane & Solid Geometry</td>
						<td>N D Bhatt</td>
						<td>Charotar</td>
						<td>None</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>114</td>
						<td>1935</td>
						<td>Engineering Drawing: Plane & Solid Geometry</td>
						<td>N D Bhatt</td>
						<td>Charotar</td>
						<td>None</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>115</td>
						<td>1936</td>
						<td>Engineering Drawing: Plane & Solid Geometry</td>
						<td>N D Bhatt</td>
						<td>Charotar</td>
						<td>None</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>116</td>
						<td>1937</td>
						<td>Engineering Drawing: Plane & Solid Geometry</td>
						<td>N D Bhatt</td>
						<td>Charotar</td>
						<td>None</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>117</td>
						<td>1938</td>
						<td>Engineering Drawing: Plane & Solid Geometry</td>
						<td>N D Bhatt</td>
						<td>Charotar</td>
						<td>None</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>118</td>
						<td>1939</td>
						<td>Engineering Drawing: Plane & Solid Geometry</td>
						<td>N D Bhatt</td>
						<td>Charotar</td>
						<td>None</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>119</td>
						<td>1940</td>
						<td>Engineering Drawing: Plane & Solid Geometry</td>
						<td>N D Bhatt</td>
						<td>Charotar</td>
						<td>None</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>120</td>
						<td>1941</td>
						<td>Engineering Drawing: Plane & Solid Geometry</td>
						<td>N D Bhatt</td>
						<td>Charotar</td>
						<td>None</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>121</td>
						<td>1942</td>
						<td>Engineering Drawing: Plane & Solid Geometry</td>
						<td>N D Bhatt</td>
						<td>Charotar</td>
						<td>None</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>122</td>
						<td>2199</td>
						<td>Elements of Civil Enginnering & Engineering Mechanics</td>
						<td>M N Shesha Prakash</td>
						<td>PHI</td>
						<td>3rd</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>123</td>
						<td>2200</td>
						<td>Elements of Civil Enginnering & Engineering Mechanics</td>
						<td>M N Shesha Prakash</td>
						<td>PHI</td>
						<td>3rd</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>124</td>
						<td>2201</td>
						<td>Elements of Civil Enginnering & Engineering Mechanics</td>
						<td>M N Shesha Prakash</td>
						<td>PHI</td>
						<td>3rd</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>125</td>
						<td>2202</td>
						<td>Elements of Civil Enginnering & Engineering Mechanics</td>
						<td>M N Shesha Prakash</td>
						<td>PHI</td>
						<td>3rd</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>126</td>
						<td>2203</td>
						<td>Elements of Civil Enginnering & Engineering Mechanics</td>
						<td>M N Shesha Prakash</td>
						<td>PHI</td>
						<td>3rd</td>
						<td>Pouch No:01</td>
					</tr>
					<tr>
						<td>127</td>
						<td>2204</td>
						<td>Elements of Civil Enginnering & Engineering Mechanics</td>
						<td>M N Shesha Prakash</td>
						<td>PHI</td>
						<td>3rd</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>128</td>
						<td>2205</td>
						<td>Elements of Civil Enginnering & Engineering Mechanics</td>
						<td>M N Shesha Prakash</td>
						<td>PHI</td>
						<td>3rd</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>129</td>
						<td>2206</td>
						<td>Elements of Civil Enginnering & Engineering Mechanics</td>
						<td>M N Shesha Prakash</td>
						<td>PHI</td>
						<td>3rd</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>130</td>
						<td>2207</td>
						<td>Elements of Civil Enginnering & Engineering Mechanics</td>
						<td>M N Shesha Prakash</td>
						<td>PHI</td>
						<td>3rd</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>131</td>
						<td>2208</td>
						<td>Elements of Civil Enginnering & Engineering Mechanics</td>
						<td>M N Shesha Prakash</td>
						<td>PHI</td>
						<td>3rd</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>132</td>
						<td>2209</td>
						<td>Elements of Civil Enginnering & Engineering Mechanics</td>
						<td>M N Shesha Prakash</td>
						<td>PHI</td>
						<td>3rd</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>133</td>
						<td>2210</td>
						<td>Elements of Civil Enginnering & Engineering Mechanics</td>
						<td>M N Shesha Prakash</td>
						<td>PHI</td>
						<td>3rd</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>134</td>
						<td>2211</td>
						<td>Elements of Civil Enginnering & Engineering Mechanics</td>
						<td>M N Shesha Prakash</td>
						<td>PHI</td>
						<td>3rd</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>135</td>
						<td>2212</td>
						<td>Elements of Civil Enginnering & Engineering Mechanics</td>
						<td>M N Shesha Prakash</td>
						<td>PHI</td>
						<td>3rd</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>136</td>
						<td>2213</td>
						<td>Elements of Civil Enginnering & Engineering Mechanics</td>
						<td>M N Shesha Prakash</td>
						<td>PHI</td>
						<td>3rd</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>137</td>
						<td>2214</td>
						<td>Elements of Civil Enginnering & Engineering Mechanics</td>
						<td>M N Shesha Prakash</td>
						<td>PHI</td>
						<td>3rd</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>138</td>
						<td>2215</td>
						<td>Elements of Civil Enginnering & Engineering Mechanics</td>
						<td>M N Shesha Prakash</td>
						<td>PHI</td>
						<td>3rd</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>139</td>
						<td>2205</td>
						<td>Network Management: Concept & Practice</td>
						<td>J richard Burke</td>
						<td>Pearson</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>140</td>
						<td>2206</td>
						<td>Network Management: Concept & Practice</td>
						<td>J richard Burke</td>
						<td>Pearson</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>141</td>
						<td>2263</td>
						<td>Numerical Methods: for scientific & Engineering Computation</td>
						<td>M K Jain & others</td>
						<td>New Age International</td>
						<td>6th </td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>142</td>
						<td>2264</td>
						<td>Numerical Methods: for scientific & Engineering Computation</td>
						<td>M K Jain & others</td>
						<td>New Age International</td>
						<td>6th </td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>143</td>
						<td>2265</td>
						<td>Numerical Methods: for scientific & Engineering Computation</td>
						<td>M K Jain & others</td>
						<td>New Age International</td>
						<td>6th </td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>144</td>
						<td>2266</td>
						<td>Numerical Methods: for scientific & Engineering Computation</td>
						<td>M K Jain & others</td>
						<td>New Age International</td>
						<td>6th </td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>145</td>
						<td>2267</td>
						<td>Numerical Methods: for scientific & Engineering Computation</td>
						<td>M K Jain & others</td>
						<td>New Age International</td>
						<td>6th </td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>146</td>
						<td>2268</td>
						<td>Numerical Methods: for scientific & Engineering Computation</td>
						<td>M K Jain & others</td>
						<td>New Age International</td>
						<td>6th </td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>147</td>
						<td>2269</td>
						<td>Numerical Methods: for scientific & Engineering Computation</td>
						<td>M K Jain & others</td>
						<td>New Age International</td>
						<td>6th </td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>148</td>
						<td>2270</td>
						<td>Numerical Methods: for scientific & Engineering Computation</td>
						<td>M K Jain & others</td>
						<td>New Age International</td>
						<td>6th </td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>149</td>
						<td>2271</td>
						<td>Numerical Methods: for scientific & Engineering Computation</td>
						<td>M K Jain & others</td>
						<td>New Age International</td>
						<td>6th </td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>150</td>
						<td>2272</td>
						<td>Numerical Methods: for scientific & Engineering Computation</td>
						<td>M K Jain & others</td>
						<td>New Age International</td>
						<td>6th </td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>151</td>
						<td>2627</td>
						<td>Power electronics: Essencials & Applications</td>
						<td>L Umanand</td>
						<td>wiley</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>152</td>
						<td>2628</td>
						<td>Power electronics: Essencials & Applications</td>
						<td>L Umanand</td>
						<td>wiley</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>153</td>
						<td>3374</td>
						<td>Fundamentals of Logic Design</td>
						<td>Charles H roth</td>
						<td>Cengage</td>
						<td>6th </td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>154</td>
						<td>3375</td>
						<td>Fundamentals of Logic Design</td>
						<td>Charles H roth</td>
						<td>Cengage</td>
						<td>6th </td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>155</td>
						<td>3405</td>
						<td>The 8051 microcontroller </td>
						<td>Kennethayala </td>
						<td>Cengage</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>156</td>
						<td>3406</td>
						<td>The 8051 microcontroller </td>
						<td>Kennethayala </td>
						<td>Cengage</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>157</td>
						<td>3407</td>
						<td>The 8051 microcontroller </td>
						<td>Kennethayala </td>
						<td>Cengage</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>158</td>
						<td>3408</td>
						<td>Engineering Electromagnetics</td>
						<td>Hayt & Buck</td>
						<td>MGH</td>
						<td>7th</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>159</td>
						<td>3409</td>
						<td>Engineering Electromagnetics</td>
						<td>Hayt & Buck</td>
						<td>MGH</td>
						<td>7th</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>160</td>
						<td>3410</td>
						<td>Engineering Electromagnetics</td>
						<td>Hayt & Buck</td>
						<td>MGH</td>
						<td>7th</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>161</td>
						<td>3411</td>
						<td>Digital Principles & Design</td>
						<td>Donald D Givone</td>
						<td>MGH</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>162</td>
						<td>3412</td>
						<td>Digital Principles & Design</td>
						<td>Donald D Givone</td>
						<td>MGH</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>163</td>
						<td>3547(1)</td>
						<td>New International Business English</td>
						<td>Leo Jones & others</td>
						<td>Cambridge University Press</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>163</td>
						<td>3547(2)</td>
						<td>New International Business English</td>
						<td>Leo Jones & others</td>
						<td>Cambridge University Press</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>163</td>
						<td>3547(3)</td>
						<td>New International Business English</td>
						<td>Leo Jones & others</td>
						<td>Cambridge University Press</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>164</td>
						<td>3548(1)</td>
						<td>New International Business English</td>
						<td>Leo Jones & others</td>
						<td>Cambridge University Press</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>164</td>
						<td>3548(2)</td>
						<td>New International Business English</td>
						<td>Leo Jones & others</td>
						<td>Cambridge University Press</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>164</td>
						<td>3548(3)</td>
						<td>New International Business English</td>
						<td>Leo Jones & others</td>
						<td>Cambridge University Press</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>165</td>
						<td>3549(1)</td>
						<td>New International Business English</td>
						<td>Leo Jones & others</td>
						<td>Cambridge University Press</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>165</td>
						<td>3549(2)</td>
						<td>New International Business English</td>
						<td>Leo Jones & others</td>
						<td>Cambridge University Press</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>165</td>
						<td>3549(3)</td>
						<td>New International Business English</td>
						<td>Leo Jones & others</td>
						<td>Cambridge University Press</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>166</td>
						<td>3550(1)</td>
						<td>New International Business English</td>
						<td>Leo Jones & others</td>
						<td>Cambridge University Press</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>166</td>
						<td>3550(2)</td>
						<td>New International Business English</td>
						<td>Leo Jones & others</td>
						<td>Cambridge University Press</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>166</td>
						<td>3550(3)</td>
						<td>New International Business English</td>
						<td>Leo Jones & others</td>
						<td>Cambridge University Press</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>167</td>
						<td>3551(1)</td>
						<td>New International Business English</td>
						<td>Leo Jones & others</td>
						<td>Cambridge University Press</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>167</td>
						<td>3551(2)</td>
						<td>New International Business English</td>
						<td>Leo Jones & others</td>
						<td>Cambridge University Press</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>167</td>
						<td>3551(3)</td>
						<td>New International Business English</td>
						<td>Leo Jones & others</td>
						<td>Cambridge University Press</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>168</td>
						<td>3552(1)</td>
						<td>New International Business English</td>
						<td>Leo Jones & others</td>
						<td>Cambridge University Press</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>168</td>
						<td>3552(2)</td>
						<td>New International Business English</td>
						<td>Leo Jones & others</td>
						<td>Cambridge University Press</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>168</td>
						<td>3552(3)</td>
						<td>New International Business English</td>
						<td>Leo Jones & others</td>
						<td>Cambridge University Press</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>169</td>
						<td>3553(1)</td>
						<td>New International Business English</td>
						<td>Leo Jones & others</td>
						<td>Cambridge University Press</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>169</td>
						<td>3553(2)</td>
						<td>New International Business English</td>
						<td>Leo Jones & others</td>
						<td>Cambridge University Press</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>169</td>
						<td>3553(3)</td>
						<td>New International Business English</td>
						<td>Leo Jones & others</td>
						<td>Cambridge University Press</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>170</td>
						<td>3554(1)</td>
						<td>New International Business English</td>
						<td>Leo Jones & others</td>
						<td>Cambridge University Press</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>170</td>
						<td>3554(2)</td>
						<td>New International Business English</td>
						<td>Leo Jones & others</td>
						<td>Cambridge University Press</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>170</td>
						<td>3554(3)</td>
						<td>New International Business English</td>
						<td>Leo Jones & others</td>
						<td>Cambridge University Press</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>171</td>
						<td>3555(1)</td>
						<td>New International Business English</td>
						<td>Leo Jones & others</td>
						<td>Cambridge University Press</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>171</td>
						<td>3555(2)</td>
						<td>New International Business English</td>
						<td>Leo Jones & others</td>
						<td>Cambridge University Press</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>171</td>
						<td>3555(3)</td>
						<td>New International Business English</td>
						<td>Leo Jones & others</td>
						<td>Cambridge University Press</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>172</td>
						<td>3556(1)</td>
						<td>New International Business English</td>
						<td>Leo Jones & others</td>
						<td>Cambridge University Press</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>172</td>
						<td>3556(2)</td>
						<td>New International Business English</td>
						<td>Leo Jones & others</td>
						<td>Cambridge University Press</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>172</td>
						<td>3556(3)</td>
						<td>New International Business English</td>
						<td>Leo Jones & others</td>
						<td>Cambridge University Press</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>173</td>
						<td>3557(1)</td>
						<td>New International Business English</td>
						<td>Leo Jones & others</td>
						<td>Cambridge University Press</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>173</td>
						<td>3557(2)</td>
						<td>New International Business English</td>
						<td>Leo Jones & others</td>
						<td>Cambridge University Press</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>173</td>
						<td>3557(3)</td>
						<td>New International Business English</td>
						<td>Leo Jones & others</td>
						<td>Cambridge University Press</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>174</td>
						<td>3558(1)</td>
						<td>New International Business English</td>
						<td>Leo Jones & others</td>
						<td>Cambridge University Press</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>174</td>
						<td>3558(2)</td>
						<td>New International Business English</td>
						<td>Leo Jones & others</td>
						<td>Cambridge University Press</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>174</td>
						<td>3558(3)</td>
						<td>New International Business English</td>
						<td>Leo Jones & others</td>
						<td>Cambridge University Press</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>175</td>
						<td>3559(1)</td>
						<td>New International Business English</td>
						<td>Leo Jones & others</td>
						<td>Cambridge University Press</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>175</td>
						<td>3559(2)</td>
						<td>New International Business English</td>
						<td>Leo Jones & others</td>
						<td>Cambridge University Press</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>175</td>
						<td>3559(3)</td>
						<td>New International Business English</td>
						<td>Leo Jones & others</td>
						<td>Cambridge University Press</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>176</td>
						<td>3560(1)</td>
						<td>New International Business English</td>
						<td>Leo Jones & others</td>
						<td>Cambridge University Press</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>176</td>
						<td>3560(2)</td>
						<td>New International Business English</td>
						<td>Leo Jones & others</td>
						<td>Cambridge University Press</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>176</td>
						<td>3560(3)</td>
						<td>New International Business English</td>
						<td>Leo Jones & others</td>
						<td>Cambridge University Press</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>177</td>
						<td>3561(1)</td>
						<td>New International Business English</td>
						<td>Leo Jones & others</td>
						<td>Cambridge University Press</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>177</td>
						<td>3561(2)</td>
						<td>New International Business English</td>
						<td>Leo Jones & others</td>
						<td>Cambridge University Press</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>177</td>
						<td>3561(3)</td>
						<td>New International Business English</td>
						<td>Leo Jones & others</td>
						<td>Cambridge University Press</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>178</td>
						<td>3781</td>
						<td>Embedded</td>
						<td>Michael J Pont</td>
						<td>Pearson</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>179</td>
						<td>3782</td>
						<td>Embedded</td>
						<td>Michael J Pont</td>
						<td>Pearson</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>180</td>
						<td>3783</td>
						<td>Embedded</td>
						<td>Michael J Pont</td>
						<td>Pearson</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>181</td>
						<td>3935</td>
						<td>Barrons TOEFLiBT</td>
						<td>Pamela J Sharpe</td>
						<td>Golgotia</td>
						<td>14th</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>182</td>
						<td>3938</td>
						<td>Oxford Advanced Learners Dictionary </td>
						<td>oxford</td>
						<td>Oxford</td>
						<td>8th</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>183</td>
						<td>3957</td>
						<td>Barrons GRE</td>
						<td>None</td>
						<td>Golgotia</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>184</td>
						<td>3959</td>
						<td>The 100 most Influential Collection</td>
						<td>None</td>
						<td>Encyclopedia Brittannica</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>185</td>
						<td>3960 (1)</td>
						<td>IELTS examination paper from university of cambridge esol exam.</td>
						<td>None</td>
						<td>Cambridge </td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>185</td>
						<td>3960(2)</td>
						<td>IELTS examination paper from university of cambridge esol exam.</td>
						<td>None</td>
						<td>Cambridge </td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>186</td>
						<td>3962(1)</td>
						<td>IELTS books for cambridge exam</td>
						<td>None</td>
						<td>None</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>186</td>
						<td>3962(2)</td>
						<td>IELTS books for cambridge exam</td>
						<td>None</td>
						<td>None</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>187</td>
						<td>3964(1)</td>
						<td>TOEFLiBT Premier</td>
						<td>Kaplan</td>
						<td>None</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>187</td>
						<td>3964(2)</td>
						<td>TOEFLiBT Premier</td>
						<td>Kaplan</td>
						<td>None</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>188</td>
						<td>3970</td>
						<td>Cracking the TOEFLiBT</td>
						<td>None</td>
						<td>None</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>189</td>
						<td>3971</td>
						<td>The official Guide to the Gre revised General Test</td>
						<td>ETS</td>
						<td>None</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>190</td>
						<td>3979</td>
						<td>Concise Oxford English Dictionary</td>
						<td>Oxford</td>
						<td>Oxford university press</td>
						<td>12th</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>191</td>
						<td>3980</td>
						<td>Barrons SAT</td>
						<td>None</td>
						<td>Golgotia</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>192</td>
						<td>3987</td>
						<td>GATE computer science and information technology</td>
						<td>None</td>
						<td>G K Publications</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>193</td>
						<td>4052</td>
						<td>Applied Simulation Modeling</td>
						<td>Duxbury</td>
						<td>Andrew F Seila</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>194</td>
						<td>4053</td>
						<td>Applied Simulation Modeling</td>
						<td>Duxbury</td>
						<td>Andrew F Seila</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>195</td>
						<td>4054</td>
						<td>Applied Simulation Modeling</td>
						<td>Duxbury</td>
						<td>Andrew F Seila</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>196</td>
						<td>4055</td>
						<td>Applied Simulation Modeling</td>
						<td>Duxbury</td>
						<td>Andrew F Seila</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>197</td>
						<td>4056</td>
						<td>Applied Simulation Modeling</td>
						<td>Duxbury</td>
						<td>Andrew F Seila</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>198</td>
						<td>4355</td>
						<td>Embedded/ Real time systems</td>
						<td>Black Book</td>
						<td>Dreamtech</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>199</td>
						<td>4356</td>
						<td>Embedded/ Real time systems</td>
						<td>Black Book</td>
						<td>Dreamtech</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>200</td>
						<td>4357</td>
						<td>Embedded/ Real time systems</td>
						<td>Black Book</td>
						<td>Dreamtech</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>201</td>
						<td>4358</td>
						<td>Embedded/ Real time systems</td>
						<td>Black Book</td>
						<td>Dreamtech</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>202</td>
						<td>4359</td>
						<td>Operating Systems: Design & Implementation</td>
						<td>Andrew S Tanenbaum</td>
						<td>PHI</td>
						<td>3rd</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>203</td>
						<td>4360</td>
						<td>Operating Systems: Design & Implementation</td>
						<td>Andrew S Tanenbaum</td>
						<td>PHI</td>
						<td>3rd</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>204</td>
						<td>4361</td>
						<td>Operating Systems: Design & Implementation</td>
						<td>Andrew S Tanenbaum</td>
						<td>PHI</td>
						<td>3rd</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>205</td>
						<td>4362</td>
						<td>Operating Systems: Design & Implementation</td>
						<td>Andrew S Tanenbaum</td>
						<td>PHI</td>
						<td>3rd</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>206</td>
						<td>4363</td>
						<td>Operating Systems: Design & Implementation</td>
						<td>Andrew S Tanenbaum</td>
						<td>PHI</td>
						<td>3rd</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>207</td>
						<td>4418</td>
						<td>English & Communication skills for students of science & Engineering</td>
						<td>S P Dhanavel</td>
						<td>Orient</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>208</td>
						<td>4419</td>
						<td>English & Communication skills for students of science & Engineering</td>
						<td>S P Dhanavel</td>
						<td>Orient</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>209</td>
						<td>4420</td>
						<td>English & Communication skills for students of science & Engineering</td>
						<td>S P Dhanavel</td>
						<td>Orient</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>210</td>
						<td>4421</td>
						<td>English & Communication skills for students of science & Engineering</td>
						<td>S P Dhanavel</td>
						<td>Orient</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>211</td>
						<td>4427</td>
						<td>Technical Communication: Principles & Practice</td>
						<td>Meenakshi Raman</td>
						<td>Oxford</td>
						<td>2nd</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>212</td>
						<td>4428</td>
						<td>Technical Communication: Principles & Practice</td>
						<td>Meenakshi Raman</td>
						<td>Oxford</td>
						<td>2nd</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>213</td>
						<td>4429</td>
						<td>Technical Communication: Principles & Practice</td>
						<td>Meenakshi Raman</td>
						<td>Oxford</td>
						<td>2nd</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>214</td>
						<td>4430</td>
						<td>Technical Communication: Principles & Practice</td>
						<td>Meenakshi Raman</td>
						<td>Oxford</td>
						<td>2nd</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>215</td>
						<td>4478</td>
						<td>Technical Communication: Principles & Practice</td>
						<td>Meenakshi Raman</td>
						<td>Oxford</td>
						<td>2nd</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>216</td>
						<td>4479</td>
						<td>Technical Communication: Principles & Practice</td>
						<td>Meenakshi Raman</td>
						<td>Oxford</td>
						<td>2nd</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>217</td>
						<td>4480</td>
						<td>Technical Communication: Principles & Practice</td>
						<td>Meenakshi Raman</td>
						<td>Oxford</td>
						<td>2nd</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>218</td>
						<td>4481</td>
						<td>Technical Communication: Principles & Practice</td>
						<td>Meenakshi Raman</td>
						<td>Oxford</td>
						<td>2nd</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>219</td>
						<td>4506</td>
						<td>Digital systemes Design :Using VHDL</td>
						<td>Charles H roth</td>
						<td>Cengage</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>220</td>
						<td>4511</td>
						<td>Introduction to VLSI Circuits and Systems </td>
						<td>Jhon P Uyemura</td>
						<td>Wiley</td>
						<td>None</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>221</td>
						<td>4517</td>
						<td>Engineering Electromagnetics</td>
						<td>Hayt & Buck</td>
						<td>MGH</td>
						<td>8th</td>
						<td>Pouch No: 02</td>
					</tr>
					<tr>
						<td>222</td>
						<td>4529</td>
						<td>Computer Fundamentals </td>
						<td>P K Sinha & priti sinha</td>
						<td>BPB Publisher</td>
						<td>6th </td>
						<td>Pouch No: 03</td>
					</tr>
					<tr>
						<td>223</td>
						<td>4530</td>
						<td>Data Structure Trough C </td>
						<td>Yashawant Kanetkar</td>
						<td>BPB Publisher</td>
						<td>2nd</td>
						<td>Pouch No: 03</td>
					</tr>
					<tr>
						<td>224</td>
						<td>4564</td>
						<td>GATE Civil Engineering </td>
						<td>GKP</td>
						<td>GK Publication </td>
						<td>None</td>
						<td>Pouch No: 03</td>
					</tr>
					<tr>
						<td>225</td>
						<td>4565</td>
						<td>GATE computer science and information technology</td>
						<td>GKP</td>
						<td>GK Publication </td>
						<td>None</td>
						<td>Pouch No: 03</td>
					</tr>
					<tr>
						<td>226</td>
						<td>4872</td>
						<td>Engineering Electromagnetics</td>
						<td>Hayt & Buck</td>
						<td>MGH</td>
						<td>8th</td>
						<td>Pouch No: 03</td>
					</tr>
					<tr>
						<td>227</td>
						<td>4871</td>
						<td>Engineering Electromagnetics</td>
						<td>Hayt & Buck</td>
						<td>MGH</td>
						<td>8th</td>
						<td>Pouch No: 03</td>
					</tr>
					<tr>
						<td>228</td>
						<td>4870</td>
						<td>Engineering Electromagnetics</td>
						<td>Hayt & Buck</td>
						<td>MGH</td>
						<td>8th</td>
						<td>Pouch No: 03</td>
					</tr>
					<tr>
						<td>229</td>
						<td>4869</td>
						<td>Engineering Electromagnetics</td>
						<td>Hayt & Buck</td>
						<td>MGH</td>
						<td>8th</td>
						<td>Pouch No: 03</td>
					</tr>
					<tr>
						<td>230</td>
						<td>4868</td>
						<td>Engineering Electromagnetics</td>
						<td>Hayt & Buck</td>
						<td>MGH</td>
						<td>8th</td>
						<td>Pouch No: 03</td>
					</tr>
					<tr>
						<td>231</td>
						<td>4867</td>
						<td>Engineering Electromagnetics</td>
						<td>Hayt & Buck</td>
						<td>MGH</td>
						<td>8th</td>
						<td>Pouch No: 03</td>
					</tr>
					<tr>
						<td>232</td>
						<td>4868</td>
						<td>Engineering Electromagnetics</td>
						<td>Hayt & Buck</td>
						<td>MGH</td>
						<td>8th</td>
						<td>Pouch No: 03</td>
					</tr>
					<tr>
						<td>233</td>
						<td>5468</td>
						<td>Engineering Electromagnetics</td>
						<td>Hayt & Buck</td>
						<td>MGH</td>
						<td>8th</td>
						<td>Pouch No: 03</td>
					</tr>
					<tr>
						<td>234</td>
						<td>5469</td>
						<td>Engineering Electromagnetics</td>
						<td>Hayt & Buck</td>
						<td>MGH</td>
						<td>8th</td>
						<td>Pouch No: 03</td>
					</tr>
					<tr>
						<td>235</td>
						<td>5470</td>
						<td>Engineering Electromagnetics</td>
						<td>Hayt & Buck</td>
						<td>MGH</td>
						<td>8th</td>
						<td>Pouch No: 03</td>
					</tr>
					<tr>
						<td>236</td>
						<td>5471</td>
						<td>Engineering Electromagnetics</td>
						<td>Hayt & Buck</td>
						<td>MGH</td>
						<td>8th</td>
						<td>Pouch No: 03</td>
					</tr>
					<tr>
						<td>237</td>
						<td>5472</td>
						<td>Engineering Electromagnetics</td>
						<td>Hayt & Buck</td>
						<td>MGH</td>
						<td>8th</td>
						<td>Pouch No: 03</td>
					</tr>
					<tr>
						<td>238</td>
						<td>5467</td>
						<td>Engineering Electromagnetics</td>
						<td>Hayt & Buck</td>
						<td>MGH</td>
						<td>8th</td>
						<td>Pouch No: 03</td>
					</tr>
					<tr>
						<td>239</td>
						<td>5473</td>
						<td>Engineering Electromagnetics</td>
						<td>Hayt & Buck</td>
						<td>MGH</td>
						<td>8th</td>
						<td>Pouch No: 03</td>
					</tr>
					<tr>
						<td>240</td>
						<td>5474</td>
						<td>Engineering Electromagnetics</td>
						<td>Hayt & Buck</td>
						<td>MGH</td>
						<td>8th</td>
						<td>Pouch No: 03</td>
					</tr>
					<tr>
						<td>241</td>
						<td>5475</td>
						<td>Engineering Electromagnetics</td>
						<td>Hayt & Buck</td>
						<td>MGH</td>
						<td>8th</td>
						<td>Pouch No: 03</td>
					</tr>
					<tr>
						<td>242</td>
						<td>5476</td>
						<td>Engineering Electromagnetics</td>
						<td>Hayt & Buck</td>
						<td>MGH</td>
						<td>8th</td>
						<td>Pouch No: 03</td>
					</tr>
					<tr>
						<td>243</td>
						<td>1523</td>
						<td>Material & Engineering </td>
						<td>William F Smit</td>
						<td>MGH</td>
						<td>5th</td>
						<td>Pouch No: 03</td>
					</tr>
					<tr>
						<td>244</td>
						<td>1524</td>
						<td>Material & Engineering </td>
						<td>William F Smit</td>
						<td>MGH</td>
						<td>5th</td>
						<td>Pouch No: 03</td>
					</tr>
					<tr>
						<td>245</td>
						<td>3783</td>
						<td>Embedded C</td>
						<td>Michael J Pont</td>
						<td>Pearson</td>
						<td>None</td>
						<td>Pouch No: 03</td>
					</tr>
					<tr>
						<td>246</td>
						<td>3782</td>
						<td>Embedded C</td>
						<td>Michael J Pont</td>
						<td>Pearson</td>
						<td>None</td>
						<td>Pouch No: 03</td>
					</tr>
					<tr>
						<td>247</td>
						<td>3781</td>
						<td>Embedded C</td>
						<td>Michael J Pont</td>
						<td>Pearson</td>
						<td>None</td>
						<td>Pouch No: 03</td>
					</tr>
					<tr>
						<td>248</td>
						<td>5533</td>
						<td>Fundamentals of logic design </td>
						<td>Charles H roth</td>
						<td>Cengage</td>
						<td>7th</td>
						<td>Pouch No: 03</td>
					</tr>
					<tr>
						<td>249</td>
						<td>5532</td>
						<td>Fundamentals of logic design </td>
						<td>Charles H roth</td>
						<td>Cengage</td>
						<td>7th</td>
						<td>Pouch No: 03</td>
					</tr>
					<tr>
						<td>250</td>
						<td>5066</td>
						<td>Fundamentals of logic design </td>
						<td>Charles H roth</td>
						<td>Cengage</td>
						<td>7th</td>
						<td>Pouch No: 03</td>
					</tr>
					<tr>
						<td>251</td>
						<td>5067</td>
						<td>Fundamentals of logic design </td>
						<td>Charles H roth</td>
						<td>Cengage</td>
						<td>7th</td>
						<td>Pouch No: 03</td>
					</tr>
					<tr>
						<td>252</td>
						<td>5068</td>
						<td>Fundamentals of logic design </td>
						<td>Charles H roth</td>
						<td>Cengage</td>
						<td>7th</td>
						<td>Pouch No: 03</td>
					</tr>
					<tr>
						<td>253</td>
						<td>5069</td>
						<td>Fundamentals of logic design </td>
						<td>Charles H roth</td>
						<td>Cengage</td>
						<td>7th</td>
						<td>Pouch No: 03</td>
					</tr>
					<tr>
						<td>254</td>
						<td>5070</td>
						<td>Fundamentals of logic design </td>
						<td>Charles H roth</td>
						<td>Cengage</td>
						<td>7th</td>
						<td>Pouch No: 03</td>
					</tr>
					<tr>
						<td>255</td>
						<td>5072</td>
						<td>Fundamentals of logic design </td>
						<td>Charles H roth</td>
						<td>Cengage</td>
						<td>7th</td>
						<td>Pouch No: 03</td>
					</tr>
					<tr>
						<td>256</td>
						<td>5071</td>
						<td>Fundamentals of logic design </td>
						<td>Charles H roth</td>
						<td>Cengage</td>
						<td>7th</td>
						<td>Pouch No: 03</td>
					</tr>
					<tr>
						<td>257</td>
						<td>4736</td>
						<td>Introduction to Finite Elements in Engineering</td>
						<td>Tripathi R & others</td>
						<td>PHI</td>
						<td>3rd</td>
						<td>Pouch No: 03</td>
					</tr>
					<tr>
						<td>258</td>
						<td>5302</td>
						<td>Computer concepts and C Programming </td>
						<td>Vikas Gupta</td>
						<td>Dream Tech</td>
						<td>None</td>
						<td>Pouch No: 03</td>
					</tr>
					<tr>
						<td>259</td>
						<td>4737</td>
						<td>Introduction to Finite Elements in Engineering</td>
						<td>Tripathi R & others</td>
						<td>PHI</td>
						<td>3rd</td>
						<td>Pouch No: 03</td>
					</tr>
					<tr>
						<td>260</td>
						<td>4738</td>
						<td>Introduction to Finite Elements in Engineering</td>
						<td>Tripathi R & others</td>
						<td>PHI</td>
						<td>3rd</td>
						<td>Pouch No: 03</td>
					</tr>
					<tr>
						<td>261</td>
						<td>4739</td>
						<td>Introduction to Finite Elements in Engineering</td>
						<td>Tripathi R & others</td>
						<td>PHI</td>
						<td>3rd</td>
						<td>Pouch No: 03</td>
					</tr>
					<tr>
						<td>262</td>
						<td>4667</td>
						<td>GATE Electronics Gate Papers 2013</td>
						<td>GKP</td>
						<td>GKP</td>
						<td>None</td>
						<td>Pouch No: 03</td>
					</tr>
					<tr>
						<td>263</td>
						<td>5301</td>
						<td>Computer concepts and C Programming </td>
						<td>Vikas Gupta</td>
						<td>Dream Tech</td>
						<td>None</td>
						<td>Pouch No: 03</td>
					</tr>
					<tr>
						<td>264</td>
						<td>4688</td>
						<td>Navigating Your Future:An Interactive Journey to Personal and Academic success</td>
						<td>Bruce J Colbert</td>
						<td>Pearson</td>
						<td>None</td>
						<td>Pouch No: 03</td>
					</tr>
					<tr>
						<td>265</td>
						<td>4686</td>
						<td>Business Management of Telecommunication</td>
						<td>Heinrich M Schoening</td>
						<td>Pearson</td>
						<td>None</td>
						<td>Pouch No: 03</td>
					</tr>
					<tr>
						<td>266</td>
						<td>4730</td>
						<td>Introduction For Material Science </td>
						<td>Michael L Meier </td>
						<td>Pearson</td>
						<td>6th </td>
						<td>Pouch No: 03</td>
					</tr>
					<tr>
						<td>267</td>
						<td>4731 (1)</td>
						<td>Introduction For Material Science </td>
						<td>Michael L Meier </td>
						<td>Pearson</td>
						<td>6th </td>
						<td>Pouch No: 03</td>
					</tr>
					<tr>
						<td>268</td>
						<td>4731 (2)</td>
						<td>Introduction For Material Science </td>
						<td>Michael L Meier </td>
						<td>Pearson</td>
						<td>6th </td>
						<td>Pouch No: 03</td>
					</tr>
					<tr>
						<td>269</td>
						<td>4731 (3)</td>
						<td>Introduction For Material Science </td>
						<td>Michael L Meier </td>
						<td>Pearson</td>
						<td>6th </td>
						<td>Pouch No: 03</td>
					</tr>
					<tr>
						<td>270</td>
						<td>470</td>
						<td>Operating systems : Design and Implementation </td>
						<td>Albert S Woodhull</td>
						<td>PHI</td>
						<td>3rd</td>
						<td>Pouch No: 03</td>
					</tr>
					<tr>
						<td>271</td>
						<td>4596</td>
						<td>Engineering Eletromagnetics </td>
						<td>W H Hyat</td>
						<td>MGH</td>
						<td>7th</td>
						<td>Pouch No: 03</td>
					</tr>
					<tr>
						<td>272</td>
						<td>5502</td>
						<td>Digital System Design using VHDL </td>
						<td>Charles H roth & Others </td>
						<td>Cengage</td>
						<td>None</td>
						<td>Pouch No: 03</td>
					</tr>
					<tr>
						<td>273</td>
						<td>51707</td>
						<td>Oracle Scripts</td>
						<td>OREILLY</td>
						<td>SPD</td>
						<td>None</td>
						<td>Pouch No: 03</td>
					</tr>
					<tr>
						<td>274</td>
						<td>4619</td>
						<td>Computer Aided Power Systems Analysis</td>
						<td>George Kusic </td>
						<td>CRC Press</td>
						<td>2nd </td>
						<td>Pouch No: 03</td>
					</tr>
					<tr>
						<td>275</td>
						<td>5503</td>
						<td>Digital System Design using VHDL </td>
						<td>Charles H roth & Others </td>
						<td>Cengage</td>
						<td>None</td>
						<td>Pouch No: 03</td>
					</tr>
					<tr>
						<td>276</td>
						<td>5504</td>
						<td>Financial Management </td>
						<td>I M Pandey </td>
						<td>Vikas Publishing House </td>
						<td>11th</td>
						<td>Pouch No: 03</td>
					</tr>
					<tr>
						<td>277</td>
						<td> </td>
						<td>EXAM CRAM Network +</td>
						<td>Harwood </td>
						<td>Pearson</td>
						<td>3rd </td>
						<td>Pouch No: 03</td>
					</tr>
					<tr>
						<td>278</td>
						<td>1325(1)</td>
						<td>Antenna theory: Analysis & Design</td>
						<td>Constantine A Balanis</td>
						<td>Wiley</td>
						<td>3rd</td>
						<td>Pouch No: 03</td>
					</tr>
					<tr>
						<td>279</td>
						<td>4634</td>
						<td>Fluid Mechanics :Fundamentals </td>
						<td>Yunus A Cengel </td>
						<td>MGH</td>
						<td>2nd </td>
						<td>Pouch No: 03</td>
					</tr>
					<tr>
						<td>280</td>
						<td>4649</td>
						<td>Exam 70-642 Configuring Server 2008 Network Infrastructure </td>
						<td>J C Mackin </td>
						<td>Prentice Hall</td>
						<td>None</td>
						<td>Pouch No: 03</td>
					</tr>
					<tr>
						<td>281</td>
						<td>5065</td>
						<td>Digital logic with VHDL Design</td>
						<td>Stepen Brown</td>
						<td>Mcgrow Hill Education </td>
						<td>3rd</td>
						<td>Pouch No: 03</td>
					</tr>
					<tr>
						<td>282</td>
						<td>5063</td>
						<td>Digital logic with VHDL Design</td>
						<td>Stepen Brown</td>
						<td>Mcgrow Hill Education </td>
						<td>3rd</td>
						<td>Pouch No: 03</td>
					</tr>
					<tr>
						<td>283</td>
						<td>5061</td>
						<td>Digital logic with VHDL Design</td>
						<td>Stepen Brown</td>
						<td>Mcgrow Hill Education </td>
						<td>3rd</td>
						<td>Pouch No: 03</td>
					</tr>
					<tr>
						<td>284</td>
						<td>5062</td>
						<td>Digital logic with VHDL Design</td>
						<td>Stepen Brown</td>
						<td>Mcgrow Hill Education </td>
						<td>3rd</td>
						<td>Pouch No: 03</td>
					</tr>
					<tr>
						<td>285</td>
						<td>5902</td>
						<td>Strength of Materials </td>
						<td>R K Bansal</td>
						<td>Laxmi Publication </td>
						<td>5th </td>
						<td>Pouch No: 03</td>
					</tr>
					<tr>
						<td>286</td>
						<td>6922</td>
						<td>Fundamentals of power Electronics with MATLAB</td>
						<td>Randall Shaffer</td>
						<td>Laxmi Publication </td>
						<td>None</td>
						<td>Pouch No: 03</td>
					</tr>
					<tr>
						<td>287</td>
						<td>6921</td>
						<td>Fundamentals of power Electronics with MATLAB</td>
						<td>Randall Shaffer</td>
						<td>Laxmi Publication </td>
						<td>None</td>
						<td>Pouch No: 03</td>
					</tr>
					<tr>
						<td>288</td>
						<td>6376</td>
						<td>International English Language Testing Systems (1)</td>
						<td>Barrons</td>
						<td>New Age International</td>
						<td>2nd </td>
						<td>Pouch No: 03</td>
					</tr>
					<tr>
						<td>289</td>
						<td>6376</td>
						<td>International English Language Testing Systems (2)</td>
						<td>Barrons</td>
						<td>New Age International</td>
						<td>2nd </td>
						<td>Pouch No: 03</td>
					</tr>
				</table>
				<br>
				<br>
			</div></div>
		</div>
		<nav class="navbar navbar-default navbar-fixed-bottom">
			<div class="container">
				<div class="col-md-3 top">
					Page Hits: {{counter_value}}
				</div>
				<div class="col-md-3 top">
					<span class="glyphicon glyphicon-copyright-mark"></span> Dayananda Sagar University
				</div>
				<div class="col-md-3 top" align="center">
					<a href="../feedback/">Feedback</a>
				</div>
				<div class="col-md-3 top" align="center">
					<a href="../contact/">Contact us</a>
				</div>
			</div>
		</nav>
</body>

</html>
