{% load staticfiles %}
<!DOCTYPE html>

<head>
	<link rel="icon" href="{% static 'LOGOS/favicon.ico' %}" type="image/x-icon" />
	<title>DSU Digital Library</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
		crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	<style type="text/css">
	.bg{
		background:url({% static 'LOGOS/header_bg.jpg'%});
		size:100%;
	}
	.html-marquee {
		height:50px;
		width:800px;
		font-size:14px;
		font-weight:bold;
		padding:10px;
	}
	h1{
		font-size: 34px;
	}
	.top{
		padding-top:10px;
	}
	img{
		padding-top:10px;
		padding-bottom:10px;
		}
	.white{
		color:#ffffff;
		}
		form {
				border: 3px solid #f1f1f1;
		}

		input[type=text], input[type=password] {
				width: 100%;
				padding: 12px 20px;
				margin: 8px 0;
				display: inline-block;
				border: 1px solid #ccc;
				box-sizing: border-box;
		}

		button {
				background-color: #2ba2e2;
				color: white;
				padding: 14px 20px;
				margin: 8px 0;
				border: none;
				cursor: pointer;
				width: 100%;
		}


		.imgcontainer {
				text-align: center;
				margin: 24px 0 12px 0;
		}

		img.avatar {
				width: 40%;
				border-radius: 50%;
		}

		.container {
				padding: 16px;
		}

		span.psw {
				float: right;
		}
		.form{
			height: 800px;
		}
	body {
    	padding-bottom: 120px;
	}

	.footer {
  		position: absolute;
  		left: 0;
  		bottom: 0;
  		width: 100%;
  		height: 114px;
	}
    </style>
</head>

<body>
	<div class="container-fluid bg1">
		<div class="row bg">
			<div class="col-md-2">
				<a href="../"><img src="{% static 'LOGOS/DSU LOGO.jpg' %}" width=250px height=100px></a>
			</div>
			<div class="col-md-8" font-color="white" align="center">
				<h1 class="white">Library and Information Centre</h1>
				<h4 class="white"><i>Digital Library & E-Learning Resources</i></h4>
			</div>
		</div>
	</div>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a>Announcements <span class="sr-only">(current)</span></a></li>
					<li class="html-marquee">
						<marquee direction="left" behavior="scroll" scrollamount="7">
							Announcement section. Put any one here.
						</marquee>
					</li>
				</ul>
				<form class="navbar-form navbar-right" method="get" action="../search_results/">
					<div class="form-group">
						<input name="search_query" type="text" class="form-control" placeholder="Search">
					</div>
					<span type="submit" class="glyphicon glyphicon-search" id="search"></span>
				</form>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="../login/">Login</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
	<hr>
	<div class="container-fluid">

		<div class="row">

			<div class="col-md-2">
				<div class="list-group">
					<a href="../" class="list-group-item ">Home</a>
					<a href="../schools/" class="list-group-item">Schools</a>
					<a href="../about/" class="list-group-item">About DSU Digital Library</a>
					<a href="../learning_resources/" class="list-group-item">Learning Resourses</a>
					<a href="../membership/" class="list-group-item">Library Membership Form</a>
				</div>
			</div>

			<div class="col-md-6">

					<form id="info-form" class="form" method="post" action="../complete_profile/">
						{% csrf_token %}
							<label for="username"><b>UserName</b></label>
							<input id="uname" type="text", value="{{username}}" name="username" disabled>
							<label for="first_name">First Name</label>
							<input id="fname" type="text" placeholder="First Name" name="first_name">
							<label for="last_name">Last Name</label>
							<input id="lname" type="text" placeholder="Last Name" name="last_name">
							<label for="usn_number">USN Number</label>
							<input id="usn" type="text" placeholder="Template logic here" name="usn_number">
							<label for="category">Category</label>
							<input id="category-id" type="text" placeholder="Do dropdown here" name="category">
							<label for="group">Group</label>
							<input id="group-id" type="text" placeholder="again dropdown here" name="group">
							<label for="dob">DOB</label>
							<input id="dob-id" type="date" placeholder="I need calander here" name="dob">
						<br />
							<label for="gender">Gender</label>
							<input id="gender-id" type="text" placeholder="I need dropdown here too" name="gender">
							<label for="email">E-Mail</label>
							<input id="email-id" type="email" value="{{email_address}}" name="email" disabled>
						<br />
							<label for="telephone">Telephone</label>
							<input id="telephone-id" type="text" placeholder="change type from text to number" name="telephone">
							<button type="submit" id="next-button">Next</button>
							<button type="button" id="skip-button">Skip</button>
					</form>
				<br />
				<br />
			</div>
		</div>
	</div>
	</nav>
	<nav class="navbar navbar-default navbar-fixed-bottom">
		<div class="container">
			<div class="col-md-3 top">
				Page Hits: {{counter_value}}
			</div>
			<div class="col-md-3 top">
				<span class="glyphicon glyphicon-copyright-mark"></span> Dayananda Sagar University
			</div>
			<div class="col-md-3 top" align="center">
				<a href="../feedback/">Feedback</a>
			</div>
			<div class="col-md-3 top" align="center">
				<a href="../contact/">Contact us</a>
			</div>
		</div>
	</nav>
	</div>
	<script>
		$(document).ready(function(){
		    //some functions here
		});
	</script>
</body>

</html>