{% extends 'html/base.html' %} {% block content %}

<div class="col-md-2">
</div>
<div class="col-md-3">
	<h3>Address:</h3> Dayananda Sagar University,<br />
	School of Engineering,<br />
	Library and Information Centre,<br />
	Hosur Main Road, <br />
	Kudlu Gate,<br />
	Bengaluru, Karnataka, India 560068<br><br>
	<h3>E-mail:</h3> digitallibrary@dsu.edu.in<br><br>
</div>
<div class="col-md-3">
	
	<h3>Tel:</h3> 080 4909 2921<br><br>

</div>
{% endblock %}