{% extends 'html/base.html' %}
{% block content %}
{% load staticfiles %}

<div class="col-md-10">
    <h2>{{title_name}} E-Books</h2>
                <div class="row">

                    {% for ebook in ebooks_list %}

                        <a href={% static ebook.ebook_file_location %}>{{ebook.ebook_name}}</a>
                        <br />

                    {% endfor %}

                </div>
            </div>

{% endblock %}