{% extends 'html/base.html' %}
{% block content %}
{% load staticfiles %}

<div class="col-md-10">
                <div class="row">

                    <div class="col-xs-6 col-md-3">
                        <a href="106" class="thumbnail">
                            <img src="{% static 'LOGOS/cse_logo.png' %}" alt="...">
                        </a>
                    </div>

                    <div class="col-xs-6 col-md-3">
                        <a href="117" class="thumbnail">
                            <img src="{% static 'LOGOS/ece_logo.jpg' %}" alt="...">
                        </a>
                    </div>

                    <div class="col-xs-6 col-md-3">
                        <a href="108" class="thumbnail">
                            <img src="{% static 'LOGOS/ee_logo.jpg' %}" alt="...">
                        </a>
                    </div>

                    <div class="col-xs-6 col-md-3">
                        <a href="112" class="thumbnail">
                            <img src="{% static 'LOGOS/me_logo.png' %}" alt="...">
                        </a>
                    </div>

                    <br />
                    <a href='111'>Mathematics</a>
                    <br />
                    <a href='101'>Computer Technology</a>
                    <br />
                    <a href='102'>Biotechnology</a>
                    <br />
                    <a href='901'>Commerce and Management</a>
                    <br />
                    <a href='902'>Master of Computer Applications</a>
                    <br />
                    <a href='903'>Physics</a>
                    <br />
                    <a href='904'>General Studies</a>

                </div>
            </div>

{% endblock %}