{% extends 'html/base.html' %}
{% block content %}
{% load staticfiles %}

<div class="col-md-8">
	<table class="table table-hover table-bordered">
		<thead>
			<tr>
				<th width="12%">
					<h3>Sl. No.</h3>
				</th>
				<th width="51%">
					<h3>Publisher</h3>
				</th>
				<th width="37%">
					<h3>Link</h3>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1.</td>
				<td><img src="{% static 'open_access_logos/shodh_ganga.png' %}" height="60px" width="60px"></td>
				<td><a target="_blank" href="http://shodhganga.inflibnet.ac.in/">http://shodhganga.inflibnet.ac.in/</a></td>
			</tr>
			<tr>
				<td>2.</td>
				<td><img src="{% static 'open_access_logos/shodh_sindhu.png' %}" height="60px" width="60px"></td>
				<td><a target="_blank" href="http://www.inflibnet.ac.in/ess/fulltext.php">http://www.inflibnet.ac.in/ess/fulltext.php/</a></td>
			</tr>
			<tr>
				<td>3.</td>
				<td><img src="{% static 'open_access_logos/shodh_gangotri.jpg' %}" height="60px" width="60px"></td>
				<td><a target="_blank" href="http://shodhgangotri.inflibnet.ac.in/">http://shodhgangotri.inflibnet.ac.in/</a></td>
			</tr>
			<tr>
				<td>4.</td>
				<td><img src="{% static 'open_access_logos/ndlt.jpg' %}" height="60px" width="100px"></td>
				<td><a target="_blank" href="http://search.ndltd.org/">http://search.ndltd.org</a></td>
			</tr>
            <tr>
				<td>5.</td>
				<td><img src="{% static 'open_access_logos/world_wide_science.png' %}" height="60px" width="100px"></td>
				<td><a target="_blank" href="http://www.worldwidescience.org">http://www.worldwidescience.org</a></td>
			</tr>
            <tr>
				<td>6.</td>
				<td><img src="{% static 'open_access_logos/doab.png' %}" height="60px" width="100px"></td>
				<td><a target="_blank" href="http://www.doabooks.org/">http://www.doabooks.org/</a></td>
			</tr>
            <tr>
				<td>7.</td>
				<td><img src="{% static 'open_access_logos/springer.gif' %}" height="60px" width="100px"></td>
				<td><a target="_blank" href="http://link.springer.com/search?package=openaccess&facet-content-type=%22Book%22">http://link.springer.com/search?package=openaccess&facet-content-type=%22Book%22</a></td>
			</tr>
            <tr>
				<td>8.</td>
				<td><img src="{% static 'open_access_logos/bookboon.png' %}" height="60px" width="100px"></td>
				<td><a target="_blank" href="http://bookboon.com/en/engineering-ebooks">http://bookboon.com/en/engineering-ebooks</a></td>
			</tr>
            <tr>
				<td>9.</td>
				<td><img src="{% static 'open_access_logos/intech.png' %}" height="60px" width="100px"></td>
				<td><a target="_blank" href="http://www.intechopen.com/about-open-access.html">http://www.intechopen.com/about-open-access.html</a></td>
			</tr>
            <tr>
				<td>10.</td>
				<td><img src="{% static 'open_access_logos/infomotions.gif' %}" height="60px" width="100px"></td>
				<td><a target="_blank" href="http://infomotions.com/alex/">http://infomotions.com/alex/</a></td>
			</tr>
            <tr>
				<td>11.</td>
				<td><img src="{% static 'open_access_logos/authorama.jpg' %}" height="60px" width="100px"></td>
				<td><a target="_blank" href="http://www.authorama.com/">http://www.authorama.com/</a></td>
			</tr>
            <tr>
				<td>12.</td>
				<td><img src="{% static 'open_access_logos/shakespeare.gif' %}" height="60px" width="100px"></td>
				<td><a target="_blank" href="http://shakespeare.mit.edu/works.html">http://shakespeare.mit.edu/works.html</a></td>
			</tr>
            <tr>
				<td>13.</td>
				<td><img src="{% static 'open_access_logos/adelaide.png' %}" height="60px" width="100px"></td>
				<td><a target="_blank" href="https://ebooks.adelaide.edu.au/meta/titles/A.html">https://ebooks.adelaide.edu.au/meta/titles/A.html</a></td>
			</tr>
            <tr>
				<td>14.</td>
				<td><img src="{% static 'open_access_logos/upenn.jpg' %}" height="60px" width="100px"></td>
				<td><a target="_blank" href="http://digital.library.upenn.edu/books/">http://digital.library.upenn.edu/books/</a></td>
			</tr>
            <tr>
				<td>15.</td>
				<td><img src="{% static 'open_access_logos/read_prrint.png' %}" height="60px" width="100px"></td>
				<td><a target="_blank" href="http://www.readprint.com/home">http://www.readprint.com/home</a></td>
			</tr>
            <tr>
				<td>16.</td>
				<td><img src="{% static 'open_access_logos/rare_book_room.jpg' %}" height="60px" width="100px"></td>
				<td><a target="_blank" href="http://www.rarebookroom.org/">http://www.rarebookroom.org/</a></td>
			</tr>
            <tr>
				<td>17.</td>
				<td><img src="{% static 'open_access_logos/ebook_dl.png' %}" height="60px" width="100px"></td>
				<td><a target="_blank" href="http://ebook-dl.com/book/882">http://ebook-dl.com/book/882</a></td>
			</tr>
            <tr>
				<td>18.</td>
				<td><img src="{% static 'open_access_logos/nptel.jpg' %}" height="60px" width="100px"></td>
				<td><a target="_blank" href="http://nptel.ac.in/">http://nptel.ac.in/</a></td>
			</tr>
            <tr>
				<td>19.</td>
				<td><img src="{% static 'open_access_logos/learners_tv.png' %}" height="60px" width="100px"></td>
				<td><a target="_blank" href="http://www.learnerstv.com/">http://www.learnerstv.com/</a></td>
			</tr>
            <tr>
				<td>20.</td>
				<td><img src="{% static 'open_access_logos/mit_ocw.jpg' %}" height="60px" width="100px"></td>
				<td><a target="_blank" href="https://teachingexcellence.mit.edu/">https://teachingexcellence.mit.edu/</a></td>
			</tr>
            <tr>
				<td>21.</td>
				<td><img src="{% static 'open_access_logos/mit_ocw.jpg' %}" height="60px" width="100px"></td>
				<td><a target="_blank" href="http://ocw.mit.edu/OcwWeb/web/home/home/index.htm">http://ocw.mit.edu/OcwWeb/web/home/home/index.htm</a></td>
			</tr>
            <tr>
				<td>22.</td>
				<td><img src="{% static 'open_access_logos/khan_academy.png' %}" height="60px" width="100px"></td>
				<td><a target="_blank" href="https://www.khanacademy.org/">https://www.khanacademy.org/</a></td>
			</tr>
            <tr>
				<td>23.</td>
				<td><img src="{% static 'open_access_logos/solo_learn.jpg' %}" height="60px" width="100px"></td>
				<td><a target="_blank" href="http://www.sololearn.com/">http://www.sololearn.com/</a></td>
			</tr>
            <tr>
				<td>24.</td>
				<td><img src="{% static 'open_access_logos/coursera.png' %}" height="60px" width="100px"></td>
				<td><a target="_blank" href="https://www.coursera.org">https://www.coursera.org</a></td>
			</tr>
            <tr>
				<td>25.</td>
				<td><img src="{% static 'open_access_logos/cosmo_learning.gif' %}" height="60px" width="100px"></td>
				<td><a target="_blank" href="http://www.cosmolearning.com/">http://www.cosmolearning.com/</a></td>
			</tr>
                               
		</tbody>
	</table>
</div>
{% endblock %}