{% load staticfiles %}

<!DOCTYPE html>

<head>
    <link rel="icon" href="{% static 'LOGOS/favicon.ico' %}" type="image/x-icon" />
    <title>DSU Digital Library</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <style type="text/css">  	
	.bg{
		background:url({% static 'LOGOS/header_bg.jpg' %});
		size:100%;
	}
    h1{
		font-size: 34px;
	}
	.top{
		padding-top:10px;
	}
	video{
		border:1px solid #e8e8e8;
		background-color:#e8e8e8;
	}
	img{
		padding-top:10px;
		padding-bottom:10px;
		}
	.white{
		color:#ffffff;
		}
    .lecture-name{
        font-size: 20px;
        font-weight: bold;
    }
    .scroll-menu{
        overflow-y: auto;
        height: 400px;
    }
    </style>
</head>

<body>
    <div class="container-fluid bg1">
        <div class="row bg">
            <div class="col-md-2">
                <a href="../"><img src="{% static 'LOGOS/DSU LOGO.jpg' %}" width=250px height=100px></a>
            </div>
            <div class="col-md-8" font-color="white" align="center">
                <h1 class="white">Library and Information Centre</h1>
                <h4 class="white"><i>Digital Library & E-Learning Resources</i></h4>
            </div>
        </div>
    </div>
    <hr>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <div class="list-group">
                    <a href="../" class="list-group-item">Home</a>
                    <a href="../../Schools/" class="list-group-item ">Schools</a>
                    <a href="../../about/" class="list-group-item ">About DSU Digital Library</a>
                    <a href="../../learning_resources/" class="list-group-item active">Learning Resourses</a>
                    <a href="../../membership/" class="list-group-item">Library Membership Form</a>
                </div>
            </div>
            <div class="col-md-8">
                <div id="id1" style="overflow:scroll; height:450px;">
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td>
                <h2>List of E-Journals
                    <h2>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=IEEE+Transactions+on+Advanced+Packaging'>IEEE Transactions on Advanced Packaging</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Aerospace+and+Electronic+Systems+Magazine,+IEEE'>Aerospace and Electronic Systems Magazine, IEEE</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Aerospace+and+Electronic+Systems,+IEEE+Transactions+on'>Aerospace and Electronic Systems, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=IEEE+Transactions+on+Affective+Computing'>IEEE Transactions on Affective Computing</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=IEEE+Annals+of+the+History+of+Computing'>IEEE Annals of the History of Computing</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=IEEE+Antennas+and+Propagation+Magazine'>IEEE Antennas and Propagation Magazine</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=IEEE+Transactions+on+Antennas+and+Propagation'>IEEE Transactions on Antennas and Propagation</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=IEEE+Antennas+and+Wireless+Propagation+Letters'>IEEE Antennas and Wireless Propagation Letters</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=IEEE+Transactions+on+Applied+Superconductivity'>IEEE Transactions on Applied Superconductivity</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=IEEE+Transactions+on+Audio,+Speech,+and+Language+Processing'>IEEE Transactions on Audio, Speech, and Language Processing</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=IEEE/ACM+Transactions+on+Audio,+Speech,+and+Language+Processing'>IEEE/ACM Transactions on Audio, Speech, and Language Processing</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=IEEE+Transactions+on+Automatic+Control'>IEEE Transactions on Automatic Control</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=IEEE/CAA+Journal+of+Automatica+Sinica'>IEEE/CAA Journal of Automatica Sinica</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=IEEE+Transactions+on+Automation+Science+and+Engineering'>IEEE Transactions on Automation Science and Engineering</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=IEEE+Transactions+on+Autonomous+Mental+Development'>IEEE Transactions on Autonomous Mental Development</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=IEEE+Transactions+on+Big+Data'>IEEE Transactions on Big Data</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=IEEE+Journal+of+Biomedical+and+Health+Informatics'>IEEE Journal of Biomedical and Health Informatics</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=IEEE+Transactions+on+Biomedical+Circuits+and+Systems'>IEEE Transactions on Biomedical Circuits and Systems</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=IEEE+Transactions+on+Biomedical+Engineering'>IEEE Transactions on Biomedical Engineering</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=IEEE+Transactions+on+Broadcasting'>IEEE Transactions on Broadcasting</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=IEEE+Circuits+and+Devices+Magazine'>IEEE Circuits and Devices Magazine</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=IEEE+Transactions+on+Circuits+and+Systems+for+Video+Technology'>IEEE Transactions on Circuits and Systems for Video Technology</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Circuits+and+Devices+Magazine,+IEEE'>Circuits and Devices Magazine, IEEE</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Circuits+and+Systems+for+Video+Technology,+IEEE+Transactions+on'>Circuits and Systems for Video Technology, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Circuits+and+Systems+I:+Fundamental+Theory+and+Applications,+IEEE+Transactions+on'>Circuits and Systems I: Fundamental Theory and Applications, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Circuits+and+Systems+I:+Regular+Papers,+IEEE+Transactions+on'>Circuits and Systems I: Regular Papers, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Circuits+and+Systems+II:+Analog+and+Digital+Signal+Processing,+IEEE+Transactions+on'>Circuits and Systems II: Analog and Digital Signal Processing, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Circuits+and+Systems+II:+Express+Briefs,+IEEE+Transactions+on'>Circuits and Systems II: Express Briefs, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Circuits+and+Systems+Magazine,+IEEE'>Circuits and Systems Magazine, IEEE</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Cloud+Computing,+IEEE'>Cloud Computing, IEEE</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Cognitive+and+Developmental+Systems,+IEEE+Transactions+on'>Cognitive and Developmental Systems, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Cloud+Computing,+IEEE+Transactions+on'>Cloud Computing, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Communications+Letters,+IEEE'>Communications Letters, IEEE</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Communications+Magazine,+IEEE'>Communications Magazine, IEEE</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Communications+Surveys+&+Tutorials,+IEEE'>Communications Surveys & Tutorials, IEEE</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Communications,+China'>Communications, China</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Communications,+IEEE+Transactions+on'>Communications, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Components+and+Packaging+Technologies,+IEEE+Transactions+on'>Components and Packaging Technologies, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Components,+Packaging+and+Manufacturing+Technology,+IEEE+Transactions+on'>Components, Packaging and Manufacturing Technology, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Components,+Packaging,+and+Manufacturing+Technology,+Part+A,+IEEE+Transactions+on'>Components, Packaging, and Manufacturing Technology, Part A, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Components,+Packaging,+and+Manufacturing+Technology,+Part+B:+Advanced+Packaging,+
IEEE+Transactions+on'>Components, Packaging, and Manufacturing Technology, Part B: Advanced Packaging, 
IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Components,+Packaging,+and+Manufacturing+Technology,+Part+C,+IEEE+Transactions+on'>Components, Packaging, and Manufacturing Technology, Part C, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Computational+Biology+and+Bioinformatics,+IEEE/ACM+Transactions+on'>Computational Biology and Bioinformatics, IEEE/ACM Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Computational+Imaging,+IEEE+Transactions+on'>Computational Imaging, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Computational+Intelligence+and+AI+in+Games,+IEEE+Transactions+on'>Computational Intelligence and AI in Games, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Computational+Intelligence+Magazine,+IEEE'>Computational Intelligence Magazine, IEEE</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Computational+Science+&+Engineering,+IEEE'>Computational Science & Engineering, IEEE</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Computational+Social+Systems,+IEEE+Transactions+on'>Computational Social Systems, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Computer'>Computer</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Computer+Applications+in+Power,+IEEE'>Computer Applications in Power, IEEE</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Computer+Architecture+Letters'>Computer Architecture Letters</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Computer+Graphics+and+Applications,+IEEE'>Computer Graphics and Applications, IEEE</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Computer-Aided+Design+of+Integrated+Circuits+and+Systems,+IEEE+Transactions+on'>Computer-Aided Design of Integrated Circuits and Systems, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Computers,+IEEE+Transactions+on'>Computers, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Computing+in+Science+&+Engineering'>Computing in Science & Engineering</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Concurrency,+IEEE'>Concurrency, IEEE</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Consumer+Electronics+Magazine,+IEEE'>Consumer Electronics Magazine, IEEE</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Consumer+Electronics,+IEEE+Transactions+on'>Consumer Electronics, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Control+of+Network+Systems,+IEEE+Transactions+on'>Control of Network Systems, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Control+Systems+Technology,+IEEE+Transactions+on'>Control Systems Technology, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Control+Systems,+IEEE'>Control Systems, IEEE</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Cybernetics,+IEEE+Transactions+on'>Cybernetics, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Dependable+and+Secure+Computing,+IEEE+Transactions+on'>Dependable and Secure Computing, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Design+&+Test+of+Computers,+IEEE'>Design & Test of Computers, IEEE</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Design+&+Test,+IEEE'>Design & Test, IEEE</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Device+and+Materials+Reliability,+IEEE+Transactions+on'>Device and Materials Reliability, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Dielectrics+and+Electrical+Insulation,+IEEE+Transactions+on'>Dielectrics and Electrical Insulation, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Display+Technology,+Journal+of'>Display Technology, Journal of</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Distributed+Systems+Online,+IEEE'>Distributed Systems Online, IEEE</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Education,+IEEE+Transactions+on'>Education, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Electrical+Insulation+Magazine,+IEEE'>Electrical Insulation Magazine, IEEE</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Electrification+Magazine,+IEEE'>Electrification Magazine, IEEE</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Electromagnetic+Compatibility+Magazine,+IEEE'>Electromagnetic Compatibility Magazine, IEEE</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Electromagnetic+Compatibility,+IEEE+Transactions+on'>Electromagnetic Compatibility, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Electron+Device+Letters,+IEEE'>Electron Device Letters, IEEE</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Electron+Devices+Society,+IEEE+Journal+of+the'>Electron Devices Society, IEEE Journal of the</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Electron+Devices,+IEEE+Transactions+on'>Electron Devices, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Electronics+Packaging+Manufacturing,+IEEE+Transactions+on'>Electronics Packaging Manufacturing, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Embedded+Systems+Letters,+IEEE'>Embedded Systems Letters, IEEE</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Emerging+and+Selected+Topics+in+Circuits+and+Systems,+IEEE+Journal+on'>Emerging and Selected Topics in Circuits and Systems, IEEE Journal on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Emerging+and+Selected+Topics+in+Power+Electronics,+IEEE+Journal+of'>Emerging and Selected Topics in Power Electronics, IEEE Journal of</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Emerging+Topics+in+Computing,+IEEE+Transactions+on'>Emerging Topics in Computing, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Energy+Conversion,+IEEE+Transactions+on'>Energy Conversion, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Engineering+in+Medicine+and+Biology+Magazine,+IEEE'>Engineering in Medicine and Biology Magazine, IEEE</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Engineering+Management+Review,+IEEE'>Engineering Management Review, IEEE</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Engineering+Management,+IEEE+Transactions+on'>Engineering Management, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Evolutionary+Computation,+IEEE+Transactions+on'>Evolutionary Computation, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Fuzzy+Systems,+IEEE+Transactions+on'>Fuzzy Systems, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Geoscience+and+Remote+Sensing+Letters,+IEEE'>Geoscience and Remote Sensing Letters, IEEE</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Geoscience+and+Remote+Sensing+Magazine,+IEEE'>Geoscience and Remote Sensing Magazine, IEEE</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Geoscience+and+Remote+Sensing,+IEEE+Transactions+on'>Geoscience and Remote Sensing, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Green+Communications+and+Networking,+IEEE+Transactions+on'>Green Communications and Networking, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Haptics,+IEEE+Transactions+on'>Haptics, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Human-Machine+Systems,+IEEE+Transactions+on'>Human-Machine Systems, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=IEEE+Access'>IEEE Access</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Intelligent+Vehicles,+IEEE+Transactions+on'>Intelligent Vehicles, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Image+Processing,+IEEE+Transactions+on'>Image Processing, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Industrial+Electronics+Magazine,+IEEE'>Industrial Electronics Magazine, IEEE</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Industrial+Electronics,+IEEE+Transactions+on'>Industrial Electronics, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Industrial+Informatics,+IEEE+Transactions+on'>Industrial Informatics, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Industry+Applications+Magazine,+IEEE'>Industry Applications Magazine, IEEE</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Industry+Applications,+IEEE+Transactions+on'>Industry Applications, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Information+Forensics+and+Security,+IEEE+Transactions+on'>Information Forensics and Security, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Information+Technology+in+Biomedicine,+IEEE+Transactions+on'>Information Technology in Biomedicine, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Information+Theory,+IEEE+Transactions+on'>Information Theory, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Instrumentation+&+Measurement+Magazine,+IEEE'>Instrumentation & Measurement Magazine, IEEE</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Instrumentation+and+Measurement,+IEEE+Transactions+on'>Instrumentation and Measurement, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Intelligent+Systems+and+their+Applications,+IEEE'>Intelligent Systems and their Applications, IEEE</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Intelligent+Systems,+IEEE'>Intelligent Systems, IEEE</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Intelligent+Transportation+Systems+Magazine,+IEEE'>Intelligent Transportation Systems Magazine, IEEE</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Intelligent+Transportation+Systems,+IEEE+Transactions+on'>Intelligent Transportation Systems, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Internet+Computing,+IEEE'>Internet Computing, IEEE</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Internet+of+Things+Journal,+IEEE'>Internet of Things Journal, IEEE</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=IT+Professional'>IT Professional</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Knowledge+and+Data+Engineering,+IEEE+Transactions+on'>Knowledge and Data Engineering, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Learning+Technologies,+IEEE+Transactions+on'>Learning Technologies, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Lightwave+Technology,+Journal+of'>Lightwave Technology, Journal of</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Molecular,+Biological+and+Multi-Scale+Communications,+IEEE+Transactions+on'>Molecular, Biological and Multi-Scale Communications, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Multi-Scale+Computing+Systems,+IEEE+Transactions+on'>Multi-Scale Computing Systems, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Multiscale+and+Multiphysics+Computational+Techniques,+IEEE+Journal+on'>Multiscale and Multiphysics Computational Techniques, IEEE Journal on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Magnetics+Letters,+IEEE'>Magnetics Letters, IEEE</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Magnetics,+IEEE+Transactions+on'>Magnetics, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Mechatronics,+IEEE/ASME+Transactions+on'>Mechatronics, IEEE/ASME Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Medical+Imaging,+IEEE+Transactions+on'>Medical Imaging, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Micro,+IEEE'>Micro, IEEE</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Microelectromechanical+Systems,+Journal+of'>Microelectromechanical Systems, Journal of</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Microwave+and+Guided+Wave+Letters,+IEEE'>Microwave and Guided Wave Letters, IEEE</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Microwave+and+Wireless+Components+Letters,+IEEE'>Microwave and Wireless Components Letters, IEEE</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Microwave+Magazine,+IEEE'>Microwave Magazine, IEEE</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Microwave+Theory+and+Techniques,+IEEE+Transactions+on'>Microwave Theory and Techniques, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Microwave+Theory+and+Techniques,+Transactions+of+the+IRE+Professional+Group+on'>Microwave Theory and Techniques, Transactions of the IRE Professional Group on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Military+Electronics,+IEEE+Transactions+on'>Military Electronics, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Military+Electronics,+IRE+Transactions+on'>Military Electronics, IRE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Mobile+Computing,+IEEE+Transactions+on'>Mobile Computing, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=MultiMedia,+IEEE'>MultiMedia, IEEE</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Multimedia,+IEEE+Transactions+on'>Multimedia, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Network+Science+and+Engineering,+IEEE+Transactions+on'>Network Science and Engineering, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=NanoBioscience,+IEEE+Transactions+on'>NanoBioscience, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Nanotechnology+Magazine,+IEEE'>Nanotechnology Magazine, IEEE</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Nanotechnology,+IEEE+Transactions+on'>Nanotechnology, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Network+and+Service+Management,+IEEE+Transactions+on'>Network and Service Management, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Network,+IEEE'>Network, IEEE</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Networking,+IEEE/ACM+Transactions+on'>Networking, IEEE/ACM Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Neural+Networks+and+Learning+Systems,+IEEE+Transactions+on'>Neural Networks and Learning Systems, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Neural+Networks,+IEEE+Transactions+on'>Neural Networks, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Neural+Systems+and+Rehabilitation+Engineering,+IEEE+Transactions+on'>Neural Systems and Rehabilitation Engineering, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Nuclear+Science,+IEEE+Transactions+on'>Nuclear Science, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Oceanic+Engineering,+IEEE+Journal+of'>Oceanic Engineering, IEEE Journal of</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Optical+Communications+and+Networking,+IEEE/OSA+Journal+of'>Optical Communications and Networking, IEEE/OSA Journal of</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Parallel+and+Distributed+Systems,+IEEE+Transactions+on'>Parallel and Distributed Systems, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Pattern+Analysis+and+Machine+Intelligence,+IEEE+Transactions+on'>Pattern Analysis and Machine Intelligence, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Personal+Communications,+IEEE'>Personal Communications, IEEE</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Pervasive+Computing,+IEEE'>Pervasive Computing, IEEE</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Photonics+Journal,+IEEE'>Photonics Journal, IEEE</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Photonics+Technology+Letters,+IEEE'>Photonics Technology Letters, IEEE</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Photovoltaics,+IEEE+Journal+of'>Photovoltaics, IEEE Journal of</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Plasma+Science,+IEEE+Transactions+on'>Plasma Science, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Power+and+Energy+Magazine,+IEEE'>Power and Energy Magazine, IEEE</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Power+Delivery,+IEEE+Transactions+on'>Power Delivery, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Power+Electronics+Letters,+IEEE'>Power Electronics Letters, IEEE</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Power+Electronics+Magazine,+IEEE'>Power Electronics Magazine, IEEE</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Power+Electronics,+IEEE+Transactions+on'>Power Electronics, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Power+Engineering+Review,+IEEE'>Power Engineering Review, IEEE</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Power+Systems,+IEEE+Transactions+on'>Power Systems, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Professional+Communication,+IEEE+Transactions+on'>Professional Communication, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Pulse,+IEEE'>Pulse, IEEE</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Quantum+Electronics,+IEEE+Journal+of'>Quantum Electronics, IEEE Journal of</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Radiation+and+Plasma+Medical+Sciences,+IEEE+Transactions+on'>Radiation and Plasma Medical Sciences, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Radio+Frequency+Identification,+IEEE+Journal+of'>Radio Frequency Identification, IEEE Journal of</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Rehabilitation+Engineering,+IEEE+Transactions+on'>Rehabilitation Engineering, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Reliability,+IEEE+Transactions+on'>Reliability, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Robotics+and+Automation,+IEEE+Transactions+on'>Robotics and Automation, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Robotics,+IEEE+Transactions+on'>Robotics, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Robotics+&+Automation+Magazine,+IEEE'>Robotics & Automation Magazine, IEEE</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Robotics+and+Automation+Letters,+IEEE'>Robotics and Automation Letters, IEEE</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Signal+and+Information+Processing+over+Networks,+IEEE+Transactions+on'>Signal and Information Processing over Networks, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Speech+and+Audio+Processing,+IEEE+Transactions+on'>Speech and Audio Processing, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Security+&+Privacy,+IEEE'>Security & Privacy, IEEE</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Selected+Areas+in+Communications,+IEEE+Journal+on'>Selected Areas in Communications, IEEE Journal on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Selected+Topics+in+Applied+Earth+Observations+and+Remote+Sensing,+IEEE+Journal+of'>Selected Topics in Applied Earth Observations and Remote Sensing, IEEE Journal of</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Selected+Topics+in+Quantum+Electronics,+IEEE+Journal+of'>Selected Topics in Quantum Electronics, IEEE Journal of</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Selected+Topics+in+Signal+Processing,+IEEE+Journal+of'>Selected Topics in Signal Processing, IEEE Journal of</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Semiconductor+Manufacturing,+IEEE+Transactions+on'>Semiconductor Manufacturing, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Sensors+Journal,+IEEE'>Sensors Journal, IEEE</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Services+Computing,+IEEE+Transactions+on'>Services Computing, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Signal+Processing+Letters,+IEEE'>Signal Processing Letters, IEEE</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Signal+Processing+Magazine,+IEEE'>Signal Processing Magazine, IEEE</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Signal+Processing,+IEEE+Transactions+on'>Signal Processing, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Smart+Grid,+IEEE+Transactions+on'>Smart Grid, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Software+Engineering,+IEEE+Transactions+on'>Software Engineering, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Software,+IEEE'>Software, IEEE</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Solid-State+Circuits+Magazine,+IEEE'>Solid-State Circuits Magazine, IEEE</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Solid-State+Circuits+Society+Newsletter,+IEEE'>Solid-State Circuits Society Newsletter, IEEE</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Solid-State+Circuits,+IEEE+Journal+of'>Solid-State Circuits, IEEE Journal of</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Sustainable+Energy,+IEEE+Transactions+on'>Sustainable Energy, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Systems+Journal,+IEEE'>Systems Journal, IEEE</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Systems,+Man+and+Cybernetics,+IEEE+Transactions+on'>Systems, Man and Cybernetics, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Systems,+Man+and+Cybernetics,+Part+A:+Systems+and+Humans,+IEEE+Transactions+on'>Systems, Man and Cybernetics, Part A: Systems and Humans, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Systems,+Man,+and+Cybernetics,+Part+B:+Cybernetics,+IEEE+Transactions+on'>Systems, Man, and Cybernetics, Part B: Cybernetics, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Systems,+Man,+and+Cybernetics,+Part+C:+Applications+and+Reviews,+IEEE+Transactions+on'>Systems, Man, and Cybernetics, Part C: Applications and Reviews, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Systems,+Man,+and+Cybernetics:+Systems,+IEEE+Transactions+on'>Systems, Man, and Cybernetics: Systems, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Transportation+Electrification,+IEEE+Transactions+on'>Transportation Electrification, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Technology+and+Society+Magazine,+IEEE'>Technology and Society Magazine, IEEE</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Tecnologias+del+Aprendizaje,+IEEE+Revista+Iberoamericana+de'>Tecnologias del Aprendizaje, IEEE Revista Iberoamericana de</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Terahertz+Science+and+Technology,+IEEE+Transactions+on'>Terahertz Science and Technology, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Translational+Engineering+in+Health+and+Medicine,+IEEE+Journal+of'>Translational Engineering in Health and Medicine, IEEE Journal of</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Ultrasonics,+Ferroelectrics,+and+Frequency+Control,+IEEE+Transactions+on'>Ultrasonics, Ferroelectrics, and Frequency Control, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Vehicular+Technology+Magazine,+IEEE'>Vehicular Technology Magazine, IEEE</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Vehicular+Technology,+IEEE+Transactions+on'>Vehicular Technology, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Very+Large+Scale+Integration+(VLSI)+Systems,+IEEE+Transactions+on'>Very Large Scale Integration (VLSI) Systems, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Visualization+and+Computer+Graphics,+IEEE+Transactions+on'>Visualization and Computer Graphics, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Wireless+Communications+Letters,+IEEE'>Wireless Communications Letters, IEEE</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Wireless+Communications,+IEEE'>Wireless Communications, IEEE</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Wireless+Communications,+IEEE+Transactions+on'>Wireless Communications, IEEE Transactions on</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=AT&T+Technical+Journal'>AT&T Technical Journal</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Bell+Labs+Technical+Journal'>Bell Labs Technical Journal</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Applied+Mechanics+Reviews'>Applied Mechanics Reviews</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Journal+of+Applied+Mechanics'>Journal of Applied Mechanics</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Journal+of+Biomechanical+Engineering'>Journal of Biomechanical Engineering</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Journal+of+Computing+and+Information+Science+in+Engineering'>Journal of Computing and Information Science in Engineering</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Journal+of+Computational+and+Nonlinear+Dynamics'>Journal of Computational and Nonlinear Dynamics</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Journal+of+Dynamic+Systems,+Measurement,+and+Control'>Journal of Dynamic Systems, Measurement, and Control</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Journal+of+Engineering+Materials+and+Technology'>Journal of Engineering Materials and Technology</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Journal+of+Electronic+Packaging'>Journal of Electronic Packaging</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Journal+of+Energy+Resources+Technology'>Journal of Energy Resources Technology</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Journal+of+Engineering+for+Gas+Turbines+and+Power'>Journal of Engineering for Gas Turbines and Power</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Journal+of+Fuel+Cell+Science+and+Technology'>Journal of Fuel Cell Science and Technology</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Journal+of+Fluids+Engineering'>Journal of Fluids Engineering</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Journal+of+Heat+Transfer'>Journal of Heat Transfer</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Journal+of+Mechanical+Design'>Journal of Mechanical Design</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Journal+of+Medical+Devices'>Journal of Medical Devices</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Journal+of+Offshore+Mechanics+and+Arctic+Engineering'>Journal of Offshore Mechanics and Arctic Engineering</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Journal+of+Mechanisms+and+Robotics'>Journal of Mechanisms and Robotics</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Journal+of+Manufacturing+Science+and+Engineering'>Journal of Manufacturing Science and Engineering</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Journal+of+Nanotechnology+in+Engineering+and+Medicine'>Journal of Nanotechnology in Engineering and Medicine</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Journal+of+Tribology'>Journal of Tribology</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Journal+of+Turbomachinery'>Journal of Turbomachinery</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Journal+of+Pressure+Vessel+Technology'>Journal of Pressure Vessel Technology</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Journal+of+Solar+Energy+Engineering'>Journal of Solar Energy Engineering</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Journal+of+Thermal+Science+and+Engineering+Applications'>Journal of Thermal Science and Engineering Applications</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Journal+of+Vibration+and+Acoustics'>Journal of Vibration and Acoustics</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Journal+of+Micro+and+Nano-Manufacturing'>Journal of Micro and Nano-Manufacturing</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=ASCE-ASME+Journal+of+Risk+and+Uncertainty+in+Engineering+Systems,+Part+B:+Mechanical+Engineering
+'>ASCE-ASME Journal of Risk and Uncertainty in Engineering Systems, Part B: Mechanical Engineering
 </a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Journal+of+Nuclear+Engineering+and+Radiation+Science'>Journal of Nuclear Engineering and Radiation Science</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Advances+in+Civil+Engineering+Materials+(ACEM)'>Advances in Civil Engineering Materials (ACEM)</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Materials+Performance+and+Characterization+(MPC)'>Materials Performance and Characterization (MPC)</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Journal+of+ASTM+International+(JAI)'>Journal of ASTM International (JAI)</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Cement,+Concrete+and+Aggregates'>Cement, Concrete and Aggregates</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Journal+of+Testing+and+Evaluation'>Journal of Testing and Evaluation</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Geotechnical+Testing+Journal'>Geotechnical Testing Journal</a></td>
        </tr>
        <tr>
            <td><a target='_blank' href='https://www.google.co.in/search?q=Journal+of+Forensic+Sciences'>Journal of Forensic Sciences</a></td>
        </tr>
        <tr>
            <td>
    </tbody>
</table>
</div>
</div>
</div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="col-md-3 top">
            Page Hits: {{counter_value}}
        </div>
        <div class="col-md-3 top">
            <span class="glyphicon glyphicon-copyright-mark"></span> Dayananda Sagar University
        </div>
        <div class="col-md-3 top" align="center">
            <a href="../feedback/">Feedback</a>
        </div>
        <div class="col-md-3 top" align="center">
            <a href="../contact/">Contact us</a>
        </div>
    </div>
</nav>
</body>

</html>