{% extends 'html/base.html' %} {% block content %}
<div class="col-md-8">
	{% if email_success_message %}
	<div class="alert alert-success">
		{{ email_success_message }}
	</div>
	{% endif %}
	<h2>Give feedback </h2>
	<form class="well col-sm-12 col-md-12" method="POST" target="_self">
		{% csrf_token %}
		<div class="row">
			<div class="col-sm-4 col-md-4">
				<label>First Name</label>
				<input name="first-name" class="form-control" placeholder="Your First Name" type="text" required>
				<label>Last Name</label>
				<input name="last-name" class="form-control" placeholder="Your Last Name" type="text" required>
				<label>USN</label>
				<input name="usn" class="form-control" placeholder="Your USN" type="text" required>
				<label>E-Mail ID</label>
				<input name="email" class="form-control" placeholder="Your E-Mail ID" type="text" required>
				<label>Subject</label>
				<select class="col-sm-3 col-md-3 form-control" id="subject" name="branch" required>
								<option value="none" selected="">Branch:</option>
								<option value="Computer Science">Computer Science</option>
								<option value="Electronics & Communications">Electroics</option>
								<option value="Mechanical Engineering">Mechanical</option>
								<option value="Computer Technology">Computer Technology</option>
							</select>
			</div>
			<div class="col-sm-8 col-md-8">
				<div class="form-group">
					<label>Message</label>
					<textarea class="col-sm-3 col-md-3 form-control" id="message" name="message" rows="10" required></textarea>
					<button class="btn btn-primary pull-right" type="submit">Send</button>
				</div>
			</div>
		</div>
	</form>
</div>

{% endblock %}