{% load staticfiles %}
<!DOCTYPE html>

<head>
	<link rel="icon" href="{% static 'LOGOS/favicon.ico' %}" type="image/x-icon" />
	<title>DSU Digital Library</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
		crossorigin="anonymous">
	<style type="text/css">
	.bg{
		background:url({% static 'LOGOS/header_bg.jpg'%});
		size:100%;
	}
	h1{
		font-size: 34px;
	}
	.html-marquee {
		height:50px;
		width:800px;
		font-size:14px;
		font-weight:bold;
		padding:10px;
	}
	.top{
		padding-top:10px;
	}
	img{
		padding-top:10px;
		padding-bottom:10px;
		}
	button {
			background-color: #2ba2e2;
			color: white;
			padding: 14px 20px;
			margin: 8px 0;
			border: none;
			cursor: pointer;
			width: 100%;
	}
	.white{
		color:#ffffff;
		}
    </style>
</head>

<body>
	<div class="container-fluid bg1">
		<div class="row bg">
			<div class="col-md-2">
				<a href="../"><img src="{% static 'LOGOS/DSU LOGO.jpg' %}" width=250px height=100px></a>
			</div>
			<div class="col-md-8" font-color="white" align="center">
				<h1 class="white">Library and Information Centre</h1>
				<h4 class="white"><i>Digital Library & E-Learning Resources</i></h4>
			</div>
		</div>
	</div>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a>Announcements <span class="sr-only">(current)</span></a></li>
					<li class="html-marquee">
						<marquee direction="left" behavior="scroll" scrollamount="7">
							Announcement section. Put any one here.
						</marquee>
					</li>
				</ul>
				<form class="navbar-form navbar-right" method="get" action="../search_results/">
					<div class="form-group">
						<input name="search_query" type="text" class="form-control" placeholder="Search">
					</div>
					<span type="submit" class="glyphicon glyphicon-search" id="search"></span>
				</form>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="../login/">Login</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
	<hr>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2">
				<div class="list-group">
					<a href="../" class="list-group-item ">Home</a>
					<a href="../schools/" class="list-group-item">Schools</a>
					<a href="../about/" class="list-group-item">About DSU Digital Library</a>
					<a href="../learning_resources/" class="list-group-item">Learning Resourses</a>
					<a href="../membership/" class="list-group-item">Library Membership Form</a>
				</div>
			</div>
			<div class="col-md-5">

				<form accept-charset="UTF-8" role="form" id="login-recordar" method="post">
					<fieldset>
						<span class="help-block">
          Enter the email address you use to log in to your account
          <br>
          We'll send you an email with instructions to choose a new password.
        </span>
						<div class="form-group input-group">
							<span class="input-group-addon">
            @
          </span>
							<input class="form-control" placeholder="Email" name="email" type="email" required="">
						</div>
						<button type="submit" class="button" id="btn-olvidado">
          Submit
        </button>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
	<nav class="navbar navbar-default navbar-fixed-bottom">
		<div class="container">
			<div class="col-md-3 top">
				<span class="glyphicon glyphicon-copyright-mark"></span> Dayananda Sagar University
			</div>
			<div class="col-md-3 top" align="center">
				<a href="../feedback/">Feedback</a>
			</div>
			<div class="col-md-3 top" align="center">
				<a href="../contact/">Contact us</a>
			</div>
		</div>
	</nav>
</body>

</html>
