{% extends 'html/base.html' %}
{% block content %}
{% load staticfiles %}

<style>
    .row{
    margin-top:40px;
    padding: 0 10px;
    }

    .clickable{
        cursor: pointer;
    }

    .panel-heading span {
	    margin-top: -20px;
	    font-size: 15px;
    }
</style>

<div class="col-md-8">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Profile</h3>
            <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
        </div>
        <div class="panel-body">
            Username : {{user.user_id}}
            <br />
            Name : {{user.first_name}} {{user.last_name}}
            <br />
            USN Number : {{user.usn_number}}
            <br />
            Storage : {{storage_usage}} MB used of 500 MB
        </div>
    </div>

    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">PDF files</h3>
            <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
        </div>
        <div class="panel-body">
            <ul>
            {% for pdf in pdf_files %}
                <li>
                    <a href={% static pdf.file_location %}>{{pdf.file_name}}</a>
                    <div class="row">
                        <div class="col-md-6">
                            <button onclick = 'location.href="../api/v1/delete_file/?file_id={{pdf.id}}"' >Delete file</button>
                        </div>
                        <div class="col-md-6">
                            <button>private</button>
                        </div>
                    </div>

                </li>
            {% endfor %}
            </ul>
        </div>

    </div>

    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Upload PDF file</h3>
            <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
        </div>
        <div class="panel-body">
            <b>Upload a pdf file:</b><br />
                <form action="../upload_file/" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" name="pdfFile" id="pdfFileid">
                    <input type="submit" value="Upload file" name="submit">
                </form>
        </div>

    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Change Password</h3>
            <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
        </div>
        <div class="panel-body">Panel content</div>
    </div>

    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3 class="panel-title">Request Content</h3>
            <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
        </div>
        <div class="panel-body">Panel content</div>
    </div>

</div>

<script type="javascript">
    $(document).on('click', '.panel-heading span.clickable', function(e){
    var $this = $(this);
	if(!$this.hasClass('panel-collapsed')) {
		$this.parents('.panel').find('.panel-body').slideUp();
		$this.addClass('panel-collapsed');
		$this.find('i').removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
	} else {
		$this.parents('.panel').find('.panel-body').slideDown();
		$this.removeClass('panel-collapsed');
		$this.find('i').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
	}
})
</script>

{% endblock %}