{% extends 'html/base.html' %}
{% block content %}

    <div class="col-md-4">
        <div class="quote-image">
            <img id="quote-image-id-tag">
        </div>
    </div>
    <div class="col-md-6">
        <blockquote class="quote-text">
            <p id="quote-text-id"></p>
            <footer id="quoter"></footer>
        </blockquote>
    </div>
</div>
<script>
                $(document).ready(function () {
                    //another function for timer
                    var jquery_function = function () {
                        $.getJSON("get_quote/", function (data) {
                            $(".quote-image").fadeOut()
                            $(".quote-text").fadeOut()
                            $("#quote-image-id-tag").attr({
                                src: data.quote_image_path,
                                width: "430px",
                                height: "425px"
                            })
                            $("#quote-text-id").text(data.quote_text)
                            $("#quoter").text(data.quoter)
                            $(".quote-image").fadeIn()
                            $(".quote-text").fadeIn()
                        })
                    }
                    jquery_function()
                    setInterval(jquery_function, 15000)
                })
            </script>
{% endblock %}