{% load staticfiles %}
<!DOCTYPE html>

<head>
	<link rel="icon" href="{% static 'LOGOS/favicon.ico' %}" type="image/x-icon" />
	<title>DSU Digital Library</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
		crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style type="text/css">
	.bg{
		background:url({% static 'LOGOS/header_bg.jpg'%});
		size:100%;
	}
	.html-marquee {
		height:50px;
		width:800px;
		font-size:14px;
		font-weight:bold;
		padding:10px;
	}
	h1{
		font-size: 34px;
	}
	.top{
		padding-top:10px;
	}
	img{
		padding-top:10px;
		padding-bottom:10px;
		}
	.white{
		color:#ffffff;
		}
    </style>
</head>

<body>
	<div class="container-fluid bg1">
		<div class="row bg">
			<div class="col-md-2">
				<a href="../"><img src="{% static 'LOGOS/DSU LOGO.jpg' %}" width=250px height=100px></a>
			</div>
			<div class="col-md-8" font-color="white" align="center">
				<h1 class="white">Library and Information Centre</h1>
				<h4 class="white"><i>Digital Library & E-Learning Resources</i></h4>
			</div>
		</div>
	</div>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a>Announcements <span class="sr-only">(current)</span></a></li>
					<li class="html-marquee">
						<marquee direction="left" behavior="scroll" scrollamount="7">
							Announcement section. Put any one here.
						</marquee>
					</li>
				</ul>
				<form class="navbar-form navbar-right" method="get" action="../search_results/">
					<div class="form-group">
						<input name="search_query" type="text" class="form-control" placeholder="Search">
					</div>
					<span type="submit" class="glyphicon glyphicon-search" id="search"></span>
				</form>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="../login/">Login</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
	<hr>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2">
				<div class="list-group">
					<a href="../" class="list-group-item ">Home</a>
					<a href="../schools/" class="list-group-item">Schools</a>
					<a href="../about/" class="list-group-item">About DSU Digital Library</a>
					<a href="../learning_resources/" class="list-group-item active">Learning Resourses</a>
					<a href="../membership/" class="list-group-item">Library Membership Form</a>
				</div>
			</div>
			<div class="col-md-8">
				<div class="col-md-8">
					<h2>Print Journals</h2>
					<div class="list-group">
						<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#j1">Mechanical Engineering</button>
						<div id="j1" class="collapse">
							<ol class="list-group">
								<li> <a class="list-group-item">IOSR Journal of Mechanical  & Civil Engineering </a></li>
								<li> <a class="list-group-item">Indian Journal of Engineering Materials Science</a></li>
								<li> <a class="list-group-item">Journal of Manufacturing Engineering </a></li>
								<li> <a class="list-group-item">IOEI:SERIES-C (ME,PROD,MARIN)</a></li>
								<li> <a class="list-group-item">Indian Foundry Journal</a></li>
								<li> <a class="list-group-item">Journal of Mines, Metals & Fuels</a></li>
								<li> <a class="list-group-item">Journal of Mechanical Engineering</a></li>
								<li> <a class="list-group-item">Journal of Machine Design</a></li>
								<li> <a class="list-group-item">Jnl. of Experimental & Allied Mechanics</a></li>
								<li> <a class="list-group-item">Jnl. of Production Res & Management</a></li>
								<li> <a class="list-group-item">Jnl. of Material & Metallurgical Eng.</a></li>
								<li> <a class="list-group-item">Jnl. of Mechatronics and Automation</a></li>
								<li> <a class="list-group-item">Trends in Machine design</a></li>
								<li> <a class="list-group-item">Manufacturing Technology today</a></li>
								<li> <a class="list-group-item">Indian Journal of fluid Dynamics</a></li>
								<li> <a class="list-group-item">Indian Jnl, of Mechanics & Solids</a></li>
								<li> <a class="list-group-item">JP Jnl. of Heat and Mass Transfer</a></li>
								<li> <a class="list-group-item">Int. Jnl. of Thermal Engineering</a></li>
							</ol>
						</div>
					</div>
					<div class="list-group">
						<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#j2">Electronics & Communication Engineering</button>
						<div id="j2" class="collapse">
							<ol class="list-group">
								<li><a class="list-group-item">Journal of communication Engineering systems</a></li>
								<li><a class="list-group-item">Journal on Communication Engineering Systems</a></li>
								<li><a class="list-group-item">Electronics Devices</a></li>
								<li><a class="list-group-item">IOEI: Series-B Electrical Electronics communication</a></li>
								<li><a class="list-group-item">Journal of electronics design Technology</a></li>
								<li> <a class="list-group-item">IOSR Journal of Electronics& Communication</a></li>
								<li> <a class="list-group-item">Journal of Wireless Communication</a></li>
								<li> <a class="list-group-item">Int. Journal of Digital Electronics</a></li>
								<li> <a class="list-group-item">Jnl. Of Solid State, Electronics & De</a></li>
								<li> <a class="list-group-item">Current trends in Signal Processing</a></li>
								<li> <a class="list-group-item">Int. journal of Electronics & Comm. Eng. & tech.</a></li>
								<li> <a class="list-group-item">Journal of Microcircuits & Electronics</a></li>
								<li> <a class="list-group-item">IUP JNL.OF ELECTRICAL & ELECTR.EN</a></li>
								<li> <a class="list-group-item">IUP Journal of Electrical Electronics</a></li>
								<li> <a class="list-group-item">Electronics Maker</a></li>
								<li> <a class="list-group-item">International Journal of Microelectronics & VLSI design</a></li>
								<li> <a class="list-group-item">International Journal of Electronic N.W.Device</a></li>
								<li> <a class="list-group-item">Advances in Wireless & Mobile Communications</a></li>
							</ol>
						</div>
					</div>
					<div class="list-group">
						<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#j3">Basic Sciences</button>
						<div id="j3" class="collapse">
							<ol class="list-group">
								<li><a class="list-group-item">Pramana-journal of Physics</a></li>
								<li><a class="list-group-item">Indian Journal of pure and applied physics</a></li>
								<li><a class="list-group-item">Indian Journal of Chemistry-SECT. A</a></li>
								<li><a class="list-group-item">IOSR Journal of applied chemistry</a></li>
								<li><a class="list-group-item">IOSR Journal of Mathematics</a></li>
								<li><a class="list-group-item">Proceedings (Mathematical science)</a></li>
							</ol>
						</div>
					</div>
					<div class="list-group">
						<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#j4">Computer Science and Engineering</button>
						<div id="j4" class="collapse">
							<ol class="list-group">
								<li> <a class="list-group-item">Journal of  E-Technology (JET)</a> </li>
								<li> <a class="list-group-item">Journal of Networking Technology</a></li>
								<li> <a class="list-group-item">Journal of Intelligent Computing </a></li>
								<li> <a class="list-group-item">Journal of computer Science </a></li>
								<li> <a class="list-group-item">IOSR Journal of Computer Engineering </a></li>
								<li> <a class="list-group-item">Journal on Software Engineering</a></li>
								<li> <a class="list-group-item">Int. journal of Web Application</a></li>
								<li> <a class="list-group-item">Int. journal of Computing Linguistic Rese</a></li>
								<li> <a class="list-group-item">Jnl of Information Security Res</a></li>
								<li> <a class="list-group-item">Journal of Data Processing</a></li>
								<li> <a class="list-group-item">Progress in Computing Application</a></li>
								<li> <a class="list-group-item">Int. journal of Inf. Technology & mgt Technology</a></li>
								<li> <a class="list-group-item">Int. journal of Computer Eng. & Tech.</a></li>
								<li> <a class="list-group-item">Journal of Software Engineering</a></li>
								<li> <a class="list-group-item">Int. journal of Graphics & Multimedia</a></li>
								<li> <a class="list-group-item">Int. Journal of Computer Application</a></li>
								<li> <a class="list-group-item">Journal of Software Quality Assurance</a></li>
								<li> <a class="list-group-item">Journal of Internet Research</a></li>
								<li> <a class="list-group-item">Int. Journal of Information Technology</a></li>
								<li> <a class="list-group-item">Jnl. Of Computer Engineering & Technology</a></li>
								<li> <a class="list-group-item">Jnl. of Computer Technology & Application</a></li>
								<li> <a class="list-group-item">Jnl. of Operating Systems Development & Training</a></li>
								<li> <a class="list-group-item">Journal of Image Processing & Pat Rec. P</a></li>
								<li> <a class="list-group-item">IUP Journal of Soft Skills</a></li>
								<li> <a class="list-group-item">IUP Journal of Information Technology</a></li>
								<li> <a class="list-group-item">IUP Journal of Computer Sciences</a></li>
								<li> <a class="list-group-item">Indian Journal of Computing & High Speed Networks</a></li>
								<li> <a class="list-group-item">Indian Journal of Mobile Communication & Networks</a></li>
								<li> <a class="list-group-item">Journal of Intelligent Learning Systems & Applications </a></li>
								<li> <a class="list-group-item">Indian Journal of Advance Computer & VLSI Design</a></li>
								<li> <a class="list-group-item">International Journal of Internet & Computer Security</a></li>
							</ol>
						</div>
					</div>
					<div class="list-group">
						<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#j5">Embedded Systems</button>
						<div id="j5" class="collapse">
							<ol class="list-group">
								<li><a class="list-group-item">Journal of Computer Hardware Engineering</a></li>
								<li><a class="list-group-item">Embedded for You</a></li>
								<li><a class="list-group-item">Indian journal of Embedded System in Eng. Research</a></li>
								<li><a class="list-group-item">Intl. Journal of Embedded System & Open Source </a></li>
								<li><a class="list-group-item">Imagers on Embedded System</a></li>
							</ol>
						</div>
					</div>
					<div class="list-group">
						<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#j6">Additional</button>
						<div id="j6" class="collapse">
								<ol class="list-group">
							<li><a class="list-group-item">University News</a></li>
							<li><a class="list-group-item">Manufacturing Technology Today (CMTI Journal)</a></li>
							</ol>
						</div>
					</div>
					<br><br>
				</div>
			</div>
		</div>
		<nav class="navbar navbar-default navbar-fixed-bottom">
			<div class="container">
				<div class="col-md-3 top">
					Page Hits: {{counter_value}}
				</div>
				<div class="col-md-3 top">
					<span class="glyphicon glyphicon-copyright-mark"></span> Dayananda Sagar University
				</div>
				<div class="col-md-3 top" align="center">
					<a href="../feedback/">Feedback</a>
				</div>
				<div class="col-md-3 top" align="center">
					<a href="../contact/">Contact us</a>
				</div>
			</div>
		</nav>
</body>

</html>