{% extends 'html/base.html' %}
{% block content %}
{% load staticfiles %}

            <div class="col-md-10">
                <div class="row">
                    <div class="col-xs-6 col-md-2">
                        <a href="../opac" class="thumbnail">
                            <img src="{% static 'LOGOS/OPAC.jpg' %}" class="size" alt="OPAC.jpg">
                        </a>
                    </div>   
                    <div class="col-xs-6 col-md-2">
                        <a href="../online_db" class="thumbnail">
                            <img src="{% static 'LOGOS/Online Databases.jpg' %}" class="size" alt="Online Databases.jpg">
                        </a>
                    </div>             
                    <div class="col-xs-6 col-md-2">
                        <a href="../ejournals" class="thumbnail">
                            <img src="{% static 'LOGOS/ejournals.jpg' %}" class="size" alt="ejournals.jpg">
                        </a>
                    </div>       
                    <div class="col-xs-6 col-md-2">
                        <a target="_blank" href="https://ndl.iitkgp.ac.in/" class="thumbnail">
                            <img src="{% static 'LOGOS/NDL.jpg' %}" class="size" alt="NDL.jpg">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-2">
                        <a href="../nptel/" class="thumbnail">
                            <img src="{% static 'LOGOS/NPTEL.png' %}" class="size" alt="NPTEL.png">
                        </a>
                    </div>                  
                </div>       
                <div class="row">
                    <div class="col-xs-6 col-md-2">
                        <a href="../ebooks/" class="thumbnail">
                            <img src="{% static 'LOGOS/ebook.png' %}" class="size" alt="ebook.png">
                        </a>
                    </div>      
                    <div class="col-xs-6 col-md-2">
                        <a href="../journals" class="thumbnail">
                            <img src="{% static 'LOGOS/printjournals.jpg' %}" class="size" alt="printjournals.jpg">
                        </a>
                    </div>              
                    <div class="col-xs-6 col-md-2">
                        <a href="../edu_url" class="thumbnail">
                            <img src="{% static 'LOGOS/open-access-wikipedia.jpg' %}" class="size" alt="LINKS.jpg">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-2">
                        <a href="../knimbus" class="thumbnail">
                            <img src="{% static 'LOGOS/KNIBUS.png' %}" class="size" alt="KNIBUS.png">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-2">
                        <a href="#" class="thumbnail">
                            <img src="{% static 'LOGOS/classroom_lectures.jpg' %}" alt="DSCE Class Teaching Resources.jpg">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-md-2">
                        <a href="../instm" class="thumbnail">
                            <img src="{% static 'LOGOS/Corporate Membership.png' %}" class="size" alt="Corporate Membership.png">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-2">
                        <a href="../cd" class="thumbnail">
                            <img src="{% static 'LOGOS/cd.jpg' %}" class="size" alt="cd.jpg">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-2">
                        <a href="#" class="thumbnail">
                            <img src="{% static 'LOGOS/mou.jpg' %}" class="size" alt="mou.jpg">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-2">
                        <a href="../useful_urls" class="thumbnail">
                            <img src="{% static 'LOGOS/useful.png' %}" class="size" alt="useful.png">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-2">
                        <a href="http://192.168.4.187:8080/jspui/" class="thumbnail">
                            <img src="{% static 'LOGOS/D-Space.png' %}" class="size" alt="D-Space.png">
                        </a>
                    </div>
                </div>
            </div>

{% endblock %}