{% load staticfiles%}
<!DOCTYPE html>

<head>
	<link rel="icon" href="{% static 'LOGOS/favicon.ico' %}" type="image/x-icon" />
	<title>DSU Digital Library</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
		crossorigin="anonymous">
	<style type="text/css">
	.bg{
		background:url({% static 'LOGOS/header_bg.jpg'%});
		size:100%;
	}
	.html-marquee {
		height:50px;
		width:800px;
		font-size:14px;
		font-weight:bold;
		padding:10px;
	}
	h1{
		font-size: 34px;
	}
	.top{
		padding-top:10px;
	}
	img{
		padding-top:10px;
		padding-bottom:10px;
		}
	.white{
		color:#ffffff;
		}
		form {
				border: 3px solid #f1f1f1;
		}

		input[type=text], input[type=password] {
				width: 100%;
				padding: 12px 20px;
				margin: 8px 0;
				display: inline-block;
				border: 1px solid #ccc;
				box-sizing: border-box;
		}

		button {
				background-color: #2ba2e2;
				color: white;
				padding: 14px 20px;
				margin: 8px 0;
				border: none;
				cursor: pointer;
				width: 100%;
		}


		.imgcontainer {
				text-align: center;
				margin: 24px 0 12px 0;
		}

		img.avatar {
				width: 40%;
				border-radius: 50%;
		}

		.container {
				padding: 16px;
		}

		span.psw {
				float: right;
		}

    </style>
</head>

<body>
	<div class="container-fluid bg1">
		<div class="row bg">
			<div class="col-md-2">
				<a href="../"><img src="{% static 'LOGOS/DSU LOGO.jpg' %}" width=250px height=100px></a>
			</div>
			<div class="col-md-8" font-color="white" align="center">
				<h1 class="white">Library and Information Centre</h1>
				<h4 class="white"><i>Digital Library & E-Learning Resources</i></h4>
			</div>
		</div>
	</div>
	<hr>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2">
				<div class="list-group">
					<a href="../" class="list-group-item ">Home</a>
					<a href="../schools/" class="list-group-item">Schools</a>
					<a href="../about/" class="list-group-item">About DSU Digital Library</a>
					<a href="../learning_resources/" class="list-group-item">Learning Resourses</a>
					<a href="../membership/" class="list-group-item">Library Membership Form</a>
				</div>
			</div>
			<div class="col-md-6">
				<div>
					<h3>Login Form</h3>
					<form method="POST" action="../login/">
						{% csrf_token %}
						<div class="container-fluid">
							<br>
							<label><b>Username</b></label>
							<input type="text" placeholder="Enter Username" name="username" required>
							<br>
							<label><b>Password</b></label>
							<input type="password" placeholder="Enter Password" name="password" required>
							<button type="submit">Login</button>
							<span class="psw"><a href="#">Forgot password?</a></span>
						</div>
						<br>
					</form>
				</div>
			</div>
		</div>
	</div>
	</nav>
	<nav class="navbar navbar-default navbar-fixed-bottom">
		<div class="container">
			<div class="col-md-3 top">
				Page Hits: {{counter_value}}
			</div>
			<div class="col-md-3 top">
				<span class="glyphicon glyphicon-copyright-mark"></span> Dayananda Sagar University
			</div>
			<div class="col-md-3 top" align="center">
				<a href="../feedback/">Feedback</a>
			</div>
			<div class="col-md-3 top" align="center">
				<a href="../contact/">Contact us</a>
			</div>
		</div>
	</nav>
</body>

</html>
