{% extends 'html/base.html' %}
{% block content %}
{% load staticfiles %}


			<div class="col-md-8">
				<h3>Please download the forms for the Library Membership Registration</h3>
				<ul class="nav nav-pills nav-stacked">
					<li class="nav-item">
						<a class="nav-link" href="{% static 'library_membership_forms/Library Membership form (STAFF) DSU.docx' %}">Faculty</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% static 'library_membership_forms/Library Membership Form (STUDENTS)DSU.doc' %}">Student</a>
					</li>
				</ul>
			</div>

{% endblock %}