{% extends 'html/base.html' %}
{% block content %}
{% load staticfiles %}

<div class="col-md-8">
	<table class="table table-hover table-bordered">
		<thead>
			<tr>
				<th width="12%">
					<h3>Sl. No.</h3>
				</th>
				<th width="51%">
					<h3>Publisher</h3>
				</th>
				<th width="37%">
					<h3>Link</h3>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1.</td>
				<td><img src="{% static 'LOGOS/ieee.png' %}" height="50px" width="60px"></td>
				<td><a target="_blank" href="http://ieeexplore.ieee.org/">http://ieeexplore.ieee.org/</a></td>
			</tr>
			<tr>
				<td>2.</td>
				<td><img src="{% static 'LOGOS/asme.png' %}" height="50px" width="60px"></td>
				<td><a target="_blank" href="http://asmedigitalcollection.asme.org/">http://asmedigitalcollection.asme.org/</a></td>
			</tr>
			<tr>
				<td>3.</td>
				<td><img src="{% static 'LOGOS/jg.jpg' %}" height="50px" width="60px"></td>
				<td><a target="_blank" href="https://jgateplus.com/search/">https://jgateplus.com/search/</a></td>
			</tr>
			<tr>
				<td>4.</td>
				<td><img src="{% static 'LOGOS/astm.png' %}" height="50px" width="100px"></td>
				<td><a target="_blank" href="https://compass.astm.org/CUSTOMERS/index.html">https://compass.astm.org/CUSTOMERS/index.html</a></td>
			</tr>
		</tbody>
	</table>
</div>
{% endblock %}