{% extends 'html/base.html' %}
{% block content %}
{% load staticfiles %}

			<div class="col-md-8">
				<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo1">Engineering</button>
				<div id="demo1" class="collapse">
					<ul class="list-group">
						<li class="list-group-item">Computer Science and Engineering</li>
						<li class="list-group-item">Computer Technology</li>
						<li class="list-group-item">Mechanical Engineering</li>
						<li class="list-group-item">Electronics and Communication Engineering</li>
						<li class="list-group-item">Computer Applications</li>
					</ul>
				</div>
				<br>
				<br>
				<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo2">Commerce and Management Studies</button>
				<div id="demo2" class="collapse">
					<ul class="list-group">
						<li class="list-group-item">Bachelor of Commerce</li>
						<li class="list-group-item">Bachelor of Business Administration</li>
						<li class="list-group-item">Master of Business Administration</li>
					</ul>
				</div>
				<br>
				<br>
				<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo3">Basic and Applied Sciences</button>
				<div id="demo3" class="collapse">
					<ul class="list-group">
						<li class="list-group-item">Biotechnology, Biochemistry and Genetics</li>
						<li class="list-group-item">Biotechnology, Chemistry and Microbiology</li>
						<li class="list-group-item">Microbiology, Genetics and Biochemistry</li>
					</ul>
				</div>
				<br>
				<br>
				<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo4">Health Sciences</button>
				<div id="demo4" class="collapse">
					<ul class="list-group">
						<li class="list-group-item">Nursing Sciences</li>
						<li class="list-group-item">Pharmaceutical Sciences</li>
						<li class="list-group-item">Physiotherapy</li>
					</ul>
				</div>
				<br>
				<br>
				<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo5">Arts and Humanities</button>
				<div id="demo5" class="collapse">
					<ul class="list-group">
						<li class="list-group-item">Journalism & Mass Communication</li>
					</ul>
				</div>
				<br>
				<br>
				<br><br>
			</div>
	{% endblock %}