{% extends 'html/base.html' %}
{% block content %}
{% load staticfiles %}


<div class="col-md-8">
    <table class="table table-bordered">
        <tr>
            <th>ebook name</th>
            <th>Uploaded By</th>
        </tr>

            {% for pdf in pdf_files %}
        <tr>
                <td>
                    <a href={% static pdf.file_location %}>{{pdf.file_name}}</a>
                </td>
                <td>
                    {{pdf.username}}
                </td>
            </tr>
            {% endfor %}

    </table>
</div>

{% endblock %}