{% load staticfiles %}
<!DOCTYPE html>

<head>
	<link rel="icon" href="{% static 'LOGOS/favicon.ico' %}" type="image/x-icon" />
	<title>DSU Digital Library</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
		crossorigin="anonymous">
	<style type="text/css">
	.bg{
		background:url({% static 'LOGOS/header_bg.jpg'%});
		size:100%;
	}
	.html-marquee {
		height:50px;
		width:800px;
		font-size:14px;
		font-weight:bold;
		padding:10px;
	}
	.top{
		padding-top:10px;
	}
	h1{
		font-size: 34px;
	}
	img{
		padding-top:10px;
		padding-bottom:10px;
		}
	.white{
		color:#ffffff;
		}
    </style>
</head>

<body>
	<div class="container-fluid bg1">
		<div class="row bg">
			<div class="col-md-2">
				<a target="_blank" href="../"><img src="{% static 'LOGOS/DSU LOGO.jpg' %}" width=250px height=100px></a>
			</div>
			<div class="col-md-8" font-color="white" align="center">
				<h1 class="white">Library and Information Centre</h1>
				<h4 class="white"><i>Digital Library & E-Learning Resources</i></h4>
			</div>
		</div>
	</div>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a>Announcements <span class="sr-only">(current)</span></a></li>
					<li class="html-marquee">
						<marquee direction="left" behavior="scroll" scrollamount="7">
							Announcement section. Put any one here.
						</marquee>
					</li>
				</ul>
				<form class="navbar-form navbar-right" method="get" action="../search_results/">
					<div class="form-group">
						<input name="search_query" type="text" class="form-control" placeholder="Search">
					</div>
					<span type="submit" class="glyphicon glyphicon-search" id="search"></span>
				</form>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="../login/">Login</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
	<hr>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2">
				<div class="list-group">
					<a href="../" class="list-group-item ">Home</a>
					<a href="../schools/" class="list-group-item">Schools</a>
					<a href="../about/" class="list-group-item">About DSU Digital Library</a>
					<a href="../learning_resources/" class="list-group-item active">Learning Resourses</a>
					<a href="../membership/" class="list-group-item">Library Membership Form</a>
				</div>
			</div>
			<div class="col-md-9">
				<div id="" style="overflow:scroll; height:450px;">
				<h2>Learning / Course Materials</h2>
				<table class="table table-hover table-bordered">
					<thead>
						<tr>
							<th width="50%">
								<h3>Descrption</h3>
							</th>
							<th width="50%">
								<h3>URL</h3>
							</th>
						</tr>
					</thead>
					<tbody>

						<tr>
							<td>DOAJ (DIRECTORY OF OPEN ACCESS JOURNALS)</td>
							<td><a target="_blank" href='http://www.doaj.org/'>http://www.doaj.org/</a></td>
						</tr>
						<tr>
							<td>DOAB (DIRECTORY OF OPEN ACCESS BOOKS)</td>
							<td><a target="_blank" href='http://www.doabooks.org/'>http://www.doabooks.org/</a></td>
						</tr>
						<tr>
							<td>NISCAIR (NATIONAL INSTITUTE OF SCIENCE COMMUNICATION & INFORMATION RESOURCES )</td>
							<td><a target="_blank" href='http://www.niscair.res.in/sciencecommunication/ResearchJournals/rejour/rejour1.htm'>http://www.niscair.res.in/sciencecommunication/ResearchJournals/rejour/rejour1.htm</a></td>
						</tr>
						<tr>
							<td>ERIC (EDUCATION RESOURCES INFORMATION CENTER)</td>
							<td><a target="_blank" href='https://eric.ed.gov/'>https://eric.ed.gov/</a></td>
						</tr>
						<tr>
							<td>NATIONAL PROGRAM ON TECHNOLOGY ENHANCED LEARNING - IITS AND IISC</td>
							<td><a target="_blank" href='http://nptel.iitm.ac.in/'>http://nptel.iitm.ac.in/</a></td>
						</tr>
						<tr>
							<td>IGNOU - COURSE MATERIALS</td>
							<td><a target="_blank" href='http://www.egyankosh.ac.in/'>http://www.egyankosh.ac.in/</a></td>
						</tr>
						<tr>
							<td>CIVIL SERVICES</td>
							<td><a target="_blank" href='http://www.civilserviceindia.com/study-material.html'>http://www.civilserviceindia.com/study-material.html</a></td>
						</tr>
						<tr>
							<td>SCIENCE &TECHNOLOGY - LECTURE NOTES, AUDIO & VIDEO LECTURES</td>
							<td><a target="_blank" href='http://www.learnerstv.com/'>http://www.learnerstv.com/</a></td>
						</tr>
						<tr>
							<td>UTAH STATE OPEN COURSE WARE</td>
							<td><a target="_blank" href='http://ocw.usu.edu/'>http://ocw.usu.edu/</a></td>
						</tr>
						<tr>
							<td>COMMONWEALTH OF LEARNING</td>
							<td><a target="_blank" href='http://www.col.org/resources/crsMaterials/Pages/default.aspx'>http://www.col.org/resources/crsMaterials/Pages/default.aspx</a></td>
						</tr>
						<tr>
							<td>MIT OPEN COURSE WARE - FREE ONLINE COURSE MATERIALS</td>
							<td><a target="_blank" href='http://ocw.mit.edu/OcwWeb/web/home/home/index.htm'>http://ocw.mit.edu/OcwWeb/web/home/home/index.htm</a></td>
						</tr>
						<tr>
							<td>KHAN ACADEMY</td>
							<td><a target="_blank" href='https://www.khanacademy.org/'>https://www.khanacademy.org/</a></td>
						</tr>
					</tbody>
				</table>
				<h2>Higher Studies</h2>
				<table class="table table-hover table-bordered">
					<thead>
						<tr>
							<th width="50%">
								<h3>Descrption</h3>
							</th>
							<th width="50%">
								<h3>URL</h3>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>HIGHER EDUCATION/STUDY ABROAD/EXAMS</td>
							<td><a target="_blank" href='http://educationguruz.com/ and http://forums.highereducationinindia.com/'>http://educationguruz.com/ and http://forums.highereducationinindia.com/</a></td>
						</tr>
						<tr>
							<td>CAT</td>
							<td><a target="_blank" href='http://www.catiim.in/'>http://www.catiim.in/</a></td>
						</tr>
						<tr>
							<td>GMAT</td>
							<td><a target="_blank" href='http://www.mba.com/'>http://www.mba.com/</a></td>
						</tr>
						<tr>
							<td>TOEFL</td>
							<td><a target="_blank" href='http://www.ets.org/toefl'>http://www.ets.org/toefl</a></td>
						</tr>
						<tr>
							<td>ELTs</td>
							<td><a target="_blank" href='http://www.elt-online.co.uk/'>http://www.elt-online.co.uk/</a></td>
						</tr>
					</tbody>

				</table>
				<h2>Educational Websites</h2>
				<table class="table table-hover table-bordered">
					<thead>
						<tr>
							<th width="50%">
								<h3>Descrption</h3>
							</th>
							<th width="50%">
								<h3>URL</h3>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>UGC, NEW DELHI</td>
							<td><a target="_blank" href='http://www.ugc.ac.in'>www.ugc.ac.in</a></td>
						</tr>
						<tr>
							<td>COMMON ENTRANCE TEST CELL</td>
							<td><a target="_blank" href='http://cet.kar.nic.in'>http://cet.kar.nic.in</a></td>
						</tr>
						<tr>
							<td>DEPARTMENT OF COLLEGIATE EDUCATION</td>
							<td><a target="_blank" href='http://www.dce.kar.nic.in'>http://www.dce.kar.nic.in</a></td>
						</tr>
						<tr>
							<td>DEPARTMENT OF PUBLIC INSTRUCTION</td>
							<td><a target="_blank" href='http://www.schooleducation.kar.nic.in'>http://www.schooleducation.kar.nic.in</a></td>
						</tr>
						<tr>
							<td>DIRECTORATE OF STATE EDUCATION RESEARCH & TRAINING</td>
							<td><a target="_blank" href='http://www.dsert.kar.nic.in
						'>http://www.dsert.kar.nic.in
						</a></td>
						</tr>
						<tr>
							<td>DIRECTORATE OF TECHNICAL EDUCATION</td>
							<td><a target="_blank" href='http://dte.kar.nic.in
						'>http://dte.kar.nic.in
						</a></td>
						</tr>
						<tr>
							<td>KARNATAKA VETERINARY, ANIMAL & FISHERIES SCIENCES UNIVERSITY</td>
							<td><a target="_blank" href='http://www.kvafsu.kar.nic.in
						'>http://www.kvafsu.kar.nic.in
						</a></td>
						</tr>
						<tr>
							<td>KENDRIYA VIDYALAYA ASC CENTRE</td>
							<td><a target="_blank" href='http://kvasc.kar.nic.in'>http://kvasc.kar.nic.in</a></td>
						</tr>
						<tr>
							<td>KENDRIYA VIDYALAYA, RAICHUR</td>
							<td><a target="_blank" href='http://www.kvraichur.kar.nic.in'>http://www.kvraichur.kar.nic.in</a></td>
						</tr>
						<tr>
							<td>KRISHIVIGYAN KENDRA,BELLARY</td>
							<td><a target="_blank" href='http://www.kvkbellary.kar.nic.in'>http://www.kvkbellary.kar.nic.in</a></td>
						</tr>
						<tr>
							<td>PRE UNIVERSITY EDUCATION</td>
							<td><a target="_blank" href='http://pue.kar.nic.in'>http://pue.kar.nic.in</a></td>
						</tr>
						<tr>
							<td>PUC BOARD</td>
							<td><a target="_blank" href='http://www.puc.kar.nic.in'>http://www.puc.kar.nic.in</a></td>
						</tr>
						<tr>
							<td>SSLC RESULTS</td>
							<td><a target="_blank" href='http://www.sslc.kar.nic.in'>http://www.sslc.kar.nic.in</a></td>
						</tr>
						<tr>
							<td>STATE INSTITUTE OF URBAN DEVELOPMENT</td>
							<td><a target="_blank" href='http://www.siudmysore.gov.in'>http://www.siudmysore.gov.in</a></td>
						</tr>
						<tr>
							<td>KARNATAKA STATE WOMEN UNIVERSITY, BIJAPUR</td>
							<td><a target="_blank" href='http://www.kswubij.ac.in'>http://www.kswubij.ac.in</a></td>
						</tr>
						<tr>
							<td>GULBARGA UNIVERSITY</td>
							<td><a target="_blank" href='http://www.gulbargauniversity.kar.nic.in'>http://www.gulbargauniversity.kar.nic.in</a></td>
						</tr>
						<tr>
							<td>KARNATAKA STATE OPEN UNIVERSITY</td>
							<td><a target="_blank" href='http://www.ksoumysore.com'>www.ksoumysore.com</a></td>
						</tr>
						<tr>
							<td>BANGALORE UNIVERSITY</td>
							<td><a target="_blank" href='http://www.bub.ernet.in'>www.bub.ernet.in</a></td>
						</tr>
						<tr>
							<td>DAVANGERE UNIVERSITY</td>
							<td><a target="_blank" href='http://www.davangereuniversity.org'>http://www.davangereuniversity.org</a></td>
						</tr>
						<tr>
							<td>INDIAN INSTITUTE OF SCIENCE, BANGALORE</td>
							<td><a target="_blank" href='http://www.iisc.ernet.in/'>www.iisc.ernet.in/</a></td>
						</tr>
						<tr>
							<td>KANNADA UNIVERSITY, HAMPI</td>
							<td><a target="_blank" href='http://www.kannadauniversity.org/'>www.kannadauniversity.org/</a></td>
						</tr>
						<tr>
							<td>KUVEMPU UNIVERSITY</td>
							<td><a target="_blank" href='http://www.kuvempu.ac.in'>www.kuvempu.ac.in</a></td>
						</tr>
						<tr>
							<td>MANGALORE UNIVERSITY</td>
							<td><a target="_blank" href='http://www.mangaloreuniversity.ac.in/'>www.mangaloreuniversity.ac.in/</a></td>
						</tr>
						<tr>
							<td>VIJAYANAGARA SRI KRISHNADEVARAYA UNIVERSITY</td>
							<td><a target="_blank" href='http://vskub.ac.in/'>http://vskub.ac.in/</a></td>
						</tr>
						<tr>
							<td>KARNATAKA SANSKRIT UNIVERSITY</td>
							<td><a target="_blank" href='http://www.ksu.ac.in/en/'>http://www.ksu.ac.in/en/</a></td>
						</tr>
						<tr>
							<td>MANIPAL ACADEMY OF HIGHER EDUCATION</td>
							<td><a target="_blank" href='http://www.manipal.edu/'>www.manipal.edu/</a></td>
						</tr>
						<tr>
							<td>KARANATAKA STATE LAW UNIVERSITY</td>
							<td><a target="_blank" href='http://www.kslu.ac.in'>http://www.kslu.ac.in</a></td>
						</tr>
						<tr>
							<td>RANI CHANNAMMA UNIVERSITY, BELAGAVI</td>
							<td><a target="_blank" href='http://rcub.ac.in/'>http://rcub.ac.in/</a></td>
						</tr>
						<tr>
							<td>TUMKUR UNIVERSITY, TUMKUR</td>
							<td><a target="_blank" href='http://tumkuruniversity.in/'>http://tumkuruniversity.in/</a></td>
						</tr>
						<tr>
							<td>UNIVERSITY OF MYSORE</td>
							<td><a target="_blank" href='http://www.uni-mysore.ac.in/'>www.uni-mysore.ac.in/</a></td>
						</tr>
						<tr>
							<td>KARNATAKA FOLKLORE UNIVERSITY, GOTAGODI, HAVERI (DIST)</td>
							<td><a target="_blank" href='http://www.janapadauni.in/introduction.html'>http://www.janapadauni.in/introduction.html</a></td>
						</tr>
						<tr>
							<td>NATIONAL LAW SCHOOL OF INDIA UNIVERSITY</td>
							<td><a target="_blank" href='http://www.nls.ac.in/'>www.nls.ac.in/</a></td>
						</tr>
						<tr>
							<td>RAJIV GANDHI UNIVERSITY OF HEALTH SCIENCES</td>
							<td><a target="_blank" href='http://www.rguhs.ac.in/'>www.rguhs.ac.in/</a></td>
						</tr>
						<tr>
							<td>VISVESWARAIAH TECHNOLOGICAL UNIVERSITY</td>
							<td><a target="_blank" href='http://www.vtu.ac.in/'>www.vtu.ac.in/</a></td>
						</tr>
						<tr>
							<td>UNIVERSITY OF AGRICULTURAL SCIENCES (BANGALORE, DHARWAD, RAICHUR)</td>
							<td><a target="_blank" href='http://www.uasbangalore.edu.in www.uasd.eduhttp://www.uasraichur.edu.in'>www.uasbangalore.edu.in www.uasd.eduhttp://www.uasraichur.edu.in</a></td>
						</tr>
						<tr>
							<td>UNIVERSITY OF HORTICULTURAL SCIENCES, BAGALKOTE</td>
							<td><a target="_blank" href='http://www.uhsbagalkot.edu.in/'>http://www.uhsbagalkot.edu.in/</a></td>
						</tr>
						<tr>
							<td>KARNATAKA UNIVERSITY, DHARWAD</td>
							<td><a target="_blank" href='http://www.kud.ac.in'>www.kud.ac.in</a></td>
						</tr>
						<tr>
							<td>DR. GANGUBAIHANGAL MUSIC & PERFORMING ARTS UNIVERSITY, MYSORE</td>
							<td><a target="_blank" href='http://www.musicuniversity.ac.in/index.php/en/'>http://www.musicuniversity.ac.in/index.php/en/</a></td>
						</tr>
						<tr>
							<td>NATIONAL INSTITUTE OF TECHNOLOGY, KARNATAKA</td>
							<td><a target="_blank" href='http://www.nitk.ac.in/'>www.nitk.ac.in/</a></td>
						</tr>
						<tr>
							<td>EDUCATION BOARDS - NATIONAL</td>
							<td><a target="_blank" href='http://goidirectory.nic.in/education.htm'>http://goidirectory.nic.in/education.htm</a></td>
						</tr>
						<tr>
							<td>UNIVERSITIES-DIRECTORY</td>
							<td><a target="_blank" href='http://www.ugc.ac.in/stateuniversity.aspx'>http://www.ugc.ac.in/stateuniversity.aspx</a></td>
						</tr>
						<tr>
							<td>UNIVERSITIES - WORLDWIDE</td>
							<td><a target="_blank" href='http://univ.cc/world.php'>http://univ.cc/world.php</a></td>
						</tr>
					</tbody>
				</table>
				<h2>Career Resource Information</h2>
				<h4>UGC NET/JRF, SET & UGC-CSIR EXAMS</h4>
				<table class="table table-hover table-bordered">
					<thead>
						<tr>
							<th width="50%">
								<h3>Descrption</h3>
							</th>
							<th width="50%">
								<h3>URL</h3>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>UGC NET EXAM</td>
							<td><a target="_blank" href='http://www.ugcnetexam.com/'>http://www.ugcnetexam.com/</a></td>
						</tr>
						<tr>
							<td>UGC NET</td>
							<td><a target="_blank" href='http://www.ugc.ac.in/inside/net.html'>http://www.ugc.ac.in/inside/net.html</a></td>
						</tr>
						<tr>
							<td>UGC NET PAPERS </td>
							<td><a target="_blank" href='http://examrace.com/UGCpaper.aspx'>http://examrace.com/UGCpaper.aspx</a></td>
						</tr>
						<tr>
							<td>COACHING INSTITUTES FOR UGC NET</td>
							<td><a target="_blank" href='http://www.careerpointchd.net'>http://www.careerpointchd.net</a></td>
						</tr>
						<tr>
							<td>UGC NET ONLINE</td>
							<td><a target="_blank" href='http://www.ugcnetonline.in/'>http://www.ugcnetonline.in/</a></td>
						</tr>
						<tr>
							<td>CSIR-UGC NET</td>
							<td><a target="_blank" href='http://203.199.141.241/online/index.jsp
								'>http://203.199.141.241/online/index.jsp
								</a></td>
						</tr>
						<tr>
							<td>CSIR-UGC NET</td>
							<td><a target="_blank" href='http://www.csirhrdg.res.in/'>http://www.csirhrdg.res.in/</a></td>
						</tr>
						<tr>
							<td>COACHING-TRAINING</td>
							<td><a target="_blank" href='http://rajtutorials.com/'>http://rajtutorials.com/</a></td>
						</tr>
						<tr>
							<td>COACHING INSTITUTES FOR UGC NET EXAM/ GATE </td>
							<td><a target="_blank" href='http://www.axiomseducation.com/'>http://www.axiomseducation.com/</a></td>
						</tr>
						<tr>
							<td>COACHING- REMEDIAL COACHING CENTRE, GUG </td>
							<td><a target="_blank" href='http://www.gulbargauniversity.kar.nic.in/'>http://www.gulbargauniversity.kar.nic.in/</a></td>
						</tr>
						<tr>
							<td>KARNATAKA PUBLIC SERVICE COMMISSION (KPSC)</td>
							<td><a target="_blank" href=' http://kpsc.kar.nic.in/'> http://kpsc.kar.nic.in/</a></td>
						</tr>
						<tr>
							<td>KARNATAKA ADMINISTRATIVE SERVICE (KAS)</td>
							<td><a target="_blank" href='http://kpsc.kar.nic.in/'>http://kpsc.kar.nic.in/</a></td>
						</tr>
					</tbody>
				</table>
				<h2>Government Websites</h2>
				<table class="table table-hover table-bordered">
					<thead>
						<tr>
							<th width="50%">
								<h3>Descrption</h3>
							</th>
							<th width="50%">
								<h3>URL</h3>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>GOVERNMENT OF KARNATAKA</td>
							<td><a target="_blank" href='http://www.kar.nic.in/index.asp and http://www.karnataka.gov.in/'>http://www.kar.nic.in/index.asp and http://www.karnataka.gov.in/</a></td>
						</tr>
						<tr>
							<td>KARNATAKA - NATIONAL INFORMATICS CENTRE</td>
							<td><a target="_blank" href='http://www.kar.nic.in/index.asp'>http://www.kar.nic.in/index.asp</a></td>
						</tr>
						<tr>
							<td>KARNATAKA VILLAGE INFORMATION</td>
							<td><a target="_blank" href='http://nitpu3.kar.nic.in/samanyam15ahiti/'>http://nitpu3.kar.nic.in/samanyam15ahiti/</a></td>
						</tr>
						<tr>
							<td>GOVERNMENT OF INDIA</td>
							<td><a target="_blank" href='http://indiaimage.nic.in/'>http://indiaimage.nic.in/</a></td>
						</tr>
						<tr>
							<td>GOVERNMENT OF INDIA</td>
							<td><a target="_blank" href='http://home.nic.in/ and http://india.gov.in/'>http://home.nic.in/ and http://india.gov.in/</a></td>
						</tr>
						<tr>
							<td>GOVERNMENT OF INDIA- DIRECTORY</td>
							<td><a target="_blank" href='http://goidirectory.gov.in/index.php'>http://goidirectory.gov.in/index.php</a></td>
						</tr>
						<tr>
							<td>KARNATAKA PUBLIC SERVICE COMMISSION</td>
							<td><a target="_blank" href='http//kpsc.kar.nic.in'>http//kpsc.kar.nic.in</a></td>
						</tr>
						<tr>
							<td>UNION PUBLIC SERVICE COMMISSION</td>
							<td><a target="_blank" href='http://upsc.gov.in/ or http://upsconline.nic.in/'>http://upsc.gov.in/ or http://upsconline.nic.in/</a></td>
						</tr>
						<tr>
							<td>NATIONAL COUNCIL FOR TEACHER EDUCATION</td>
							<td><a target="_blank" href='http://www.ncte-in.org'>www.ncte-in.org</a></td>
						</tr>
						<tr>
							<td>NATIONAL COUNCIL FOR EDUCATIONAL RESEARCH & TRAINING</td>
							<td><a target="_blank" href='http://www.ncert.nic.in'>www.ncert.nic.in</a></td>
						</tr>
						<tr>
							<td>MINISTRY OF HRD (EDUCATION)</td>
							<td><a target="_blank" href='http://www.education.nic.in'>www.education.nic.in</a></td>
						</tr>
						<tr>
							<td>GAZETTE - KARNATAKA STATE</td>
							<td><a target="_blank" href='http://gazette.kar.nic.in/'>http://gazette.kar.nic.in/</a></td>
						</tr>
						<tr>
							<td>KARNATAKA STATE COUNCIL OF HIGHER EDUCATION</td>
							<td><a target="_blank" href='http://kshec.ac.in/index.php'>http://kshec.ac.in/index.php</a></td>
						</tr>
						<tr>
							<td>NATIONAL ASSESSMENT AND ACCREDITATION COUNCIL</td>
							<td><a target="_blank" href='http://naac.gov.in/'>http://naac.gov.in/</a></td>
						</tr>
					</tbody>
				</table>
				<br><br>
				<h2>U.P.S.C. Exams</h2>
				<table class="table table-hover table-bordered">
					<thead>
						<tr>
							<th width="50%">
								<h3>Descrption</h3>
							</th>
							<th width="50%">
								<h3>URL
								</h3>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>INDIAN ADMINISTRATIVE SERVICE (IAS)</td>
							<td><a target="_blank" href='http://www.upsc.gov.in and www.upscmantra.com'>www.upsc.gov.in and www.upscmantra.com</a></td>
						</tr>
						<tr>
							<td>COMBINED ENGINEERING SERVICE EXAMINATION</td>
							<td><a target="_blank" href='http://www.upsc.gov.in'>http://www.upsc.gov.in</a></td>
						</tr>
						<tr>
							<td>INDIAN FOREST SERVICE (IFS)</td>
							<td><a target="_blank" href='http://ifs.nic.in/'>http://ifs.nic.in/</a></td>
						</tr>
					</tbody>
				</table>
				<br><br>


				<h2>Bank Exams</h2>
				<table class="table table-hover table-bordered">
					<thead>
						<tr>
							<th width="50%">
								<h3>Descrption</h3>
							</th>
							<th width="50%">
								<h3>URL
								</h3>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>BANK EXAMS AND OTHERS</td>
							<td><a target="_blank" href='http://www.bankexamsindia.com/'>http://www.bankexamsindia.com/</a></td>
						</tr>
						<tr>
							<td>SBI PROBATIONARY OFFICERS EXAM</td>
							<td><a target="_blank" href='http://www.statebankofindia.com'>www.statebankofindia.com</a></td>
						</tr>
						<tr>
							<td>RESERVE BANK OFFICERS EXAM</td>
							<td><a target="_blank" href='http://www.rbi.org.in'>www.rbi.org.in</a></td>
						</tr>
					</tbody>
				</table>
				<br><br>


				<h2>Defense Competitive Exams</h2>
				<table class="table table-hover table-bordered">
					<thead>
						<tr>
							<th width="50%">
								<h3>Descrption</h3>
							</th>
							<th width="50%">
								<h3>URL
								</h3>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>NATIONAL DEFENSE ACADEMY</td>
							<td><a target="_blank" href='http://www.nda.nic.in'>www.nda.nic.in</a></td>
						</tr>
						<tr>
							<td>INDIAN ARMY</td>
							<td><a target="_blank" href='http://www.indianarmy.nic.in'>www.indianarmy.nic.in</a></td>
						</tr>
						<tr>
							<td>JOIN INDIAN ARMY</td>
							<td><a target="_blank" href='http://www.joinindianarmy.nic.in'>www.joinindianarmy.nic.in</a></td>
						</tr>
						<tr>
							<td>INDIAN AIR FORCE</td>
							<td><a target="_blank" href='http://www.indianairforce.nic.in'>www.indianairforce.nic.in</a></td>
						</tr>
					</tbody>
				</table>
				<br><br>


				<h2>Life Insurance Exams</h2>
				<table class="table table-hover table-bordered">
					<thead>
						<tr>
							<th width="50%">
								<h3>Descrption</h3>
							</th>
							<th width="50%">
								<h3>URL
								</h3>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<tr>
								<td>L.I.C. ASSISTANTS/ STENOS/ TYPISTS</td>
								<td><a target="_blank" href='http://59.165.134.98/chowgule/jsp/exam/competitiveexams/lic.jsp'>http://59.165.134.98/chowgule/jsp/exam/competitiveexams/lic.jsp</a></td>
							</tr>
							<tr>
								<td>EDUCATION & CAREER, FELLOWSHIPS, LOAN ETC.</td>
								<td><a target="_blank" href='http://career.webindia123.com/career/index.html'>http://career.webindia123.com/career/index.html</a></td>
							</tr>
					</tbody>
				</table>
				<br><br>


				<h2>Research Projects</h2>
				<table class="table table-hover table-bordered">
					<thead>
						<tr>
							<th width="50%">
								<h3>Descrption</h3>
							</th>
							<th width="50%">
								<h3>URL
								</h3>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>UGC - MAJOR RESEARCH</td>
							<td><a target="_blank" href='http://www.ugc.ac.in/'>http://www.ugc.ac.in/</a></td>
						</tr>
						<tr>
							<td>UGC - MINOR RESEARCH</td>
							<td><a target="_blank" href='http://www.ugc.ac.in/'>http://www.ugc.ac.in/</a></td>
						</tr>
						<tr>
							<td>ICSSR</td>
							<td><a target="_blank" href='http://www.icssr.org/rp_main.htm'>http://www.icssr.org/rp_main.htm</a></td>
						</tr>
						<tr>
							<td>SCIENCE & TECHNOLOGY (DST)</td>
							<td><a target="_blank" href='http://www.dst.gov.in/'>http://www.dst.gov.in/</a></td>
						</tr>
					</tbody>

				</table>
				<br><br>


				<h2>Job Vacancies</h2>
				<table class="table table-hover table-bordered">
					<thead>
						<tr>
							<th width="50%">
								<h3>Descrption</h3>
							</th>
							<th width="50%">
								<h3>URL
								</h3>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<tr>
								<td>EMPLOYMENT NEW</td>
								<td><a target="_blank" href='http://www.employmentnews.gov.in/index.asp'>http://www.employmentnews.gov.in/index.asp</a></td>
							</tr>
							<tr>
								<td>ONLINE JOB PORTALS</td>
								<td><a target="_blank" href='http://my.naukri.com'>http://my.naukri.com</a></td>
							</tr>
					</tbody>
				</table>
				<br><br>


				<h2>Staff Selection Commission</h2>
				<table class="table table-hover table-bordered">
					<thead>
						<tr>
							<th width="50%">
								<h3>Descrption</h3>
							</th>
							<th width="50%">
								<h3>URL
								</h3>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>CLERICAL/ OFFICERS</td>
							<td><a target="_blank" href='http://ssc.nic.in and http://ssconline.nic.in/'>http://ssc.nic.in and http://ssconline.nic.in/</a></td>
						</tr>
					</tbody>

				</table>
				<br><br>


				<h2>Fellowships</h2>
				<table class="table table-hover table-bordered">
					<thead>
						<tr>
							<th width="50%">
								<h3>Descrption</h3>
							</th>
							<th width="50%">
								<h3>URL
								</h3>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>RAJIV GANDHI SC/ST FELLOWSHIP</td>
							<td><a target="_blank" href='http://www.ugc.ac.in/page/Scholarships-and-Fellowships.aspx'>http://www.ugc.ac.in/page/Scholarships-and-Fellowships.aspx</a></td>
						</tr>
						<tr>
							<td>ICSSR FELLOWSHIP"</td>
							<td><a target="_blank" href='http://www.icssr.org/'>http://www.icssr.org/</a></td>
						</tr>
						<tr>
							<td>POST DOCTORAL FELLOWSHIP"</td>
							<td><a target="_blank" href='http://117.239.33.193/pdfss/ and http://www.icssr.org/Port-Doctoral.htm'>http://117.239.33.193/pdfss/ and http://www.icssr.org/Port-Doctoral.htm</a></td>
						</tr>
						<tr>
							<td>MAULANAAZAD FELLOWSHIP FOR MINORITIES</td>
							<td><a target="_blank" href='http://maef.nic.in/'>http://maef.nic.in/</a></td>
						</tr>
						<tr>
							<td>MINORITIES - SCHOLARSHIP</td>
							<td><a target="_blank" href='http://www.minorityaffairs.gov.in/ScholarshipSchemes'>http://www.minorityaffairs.gov.in/ScholarshipSchemes</a></td>
						</tr>
						<tr>
							<td>CSIR</td>
							<td><a target="_blank" href='http://csirhrdg.res.in/'>http://csirhrdg.res.in/</a></td>
						</tr>
						<tr>
							<td>COMMONWEALTH FELLOWSHIP</td>
							<td><a target="_blank" href='http://cscuk.dfid.gov.uk/'>http://cscuk.dfid.gov.uk/</a></td>
						</tr>
						<tr>
							<td>UNITED STATES - INDIA EDUCATIONAL FOUNDATION (USIEF) - FULBRIGHT PROGRAM</td>
							<td><a target="_blank" href='http://www.usief.org.in/Fellowships.aspx'>http://www.usief.org.in/Fellowships.aspx</a></td>
						</tr>
					</tbody>
				</table>
				<br><br>


				<h2>International Conference Participation - Funding</h2>
				<table class="table table-hover table-bordered">
					<thead>
						<tr>
							<th width="50%">
								<h3>Descrption</h3>
							</th>
							<th width="50%">
								<h3>URL
								</h3>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<tr>
								<td>ICSSR & MHRD</td>
								<td><a target="_blank" href='http://www.icssr.org/ic_main.htm'>http://www.icssr.org/ic_main.htm</a></td>
							</tr>
							<tr>
								<td>UGC</td>
								<td><a target="_blank" href='http://csirhrdg.res.in/tg_form.htm'>http://csirhrdg.res.in/tg_form.htm</a></td>
							</tr>
					</tbody>
				</table>
				<br><br>


				<h2>Reference Sources</h2>
				<table class="table table-hover table-bordered">
					<thead>
						<tr>
							<th width="50%">
								<h3>Descrption</h3>
							</th>
							<th width="50%">
								<h3>URL
								</h3>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>ENGLISH - KANNADA DICTIONARY</td>
							<td><a target="_blank" href='http://www.kannadakasturi.com/kasturiEnglishKanDictionary/start.asp'>http://www.kannadakasturi.com/kasturiEnglishKanDictionary/start.asp</a></td>
						</tr>
						<tr>
							<td>KANNADA - ENGLISH DICTIONARY</td>
							<td><a target="_blank" href='http://www.kannadakasturi.com/kasturiDictionary/start.asp'>http://www.kannadakasturi.com/kasturiDictionary/start.asp</a></td>
						</tr>
						<tr>
							<td>GAZETTE - KARNATAKA STATE</td>
							<td><a target="_blank" href='http://gazette.kar.nic.in/'>http://gazette.kar.nic.in/</a></td>
						</tr>
						<tr>
							<td>GAZETTEER - KARNATAKA STATE</td>
							<td><a target="_blank" href='http://www.kar.nic.in/gazetteer/dist_book.asp?pre_post=1&kan=2'>http://www.kar.nic.in/gazetteer/dist_book.asp?pre_post=1&kan=2</a></td>
						</tr>
						<tr>
							<td>NATIONAL PORTAL OF INDIA</td>
							<td><a target="_blank" href='http://india.gov.in/'>http://india.gov.in/</a></td>
						</tr>
						<tr>
							<td>REFERENCE INFORMATION</td>
							<td><a target="_blank" href='http://www.encyclopedia.com/'>http://www.encyclopedia.com/</a></td>
						</tr>
						<tr>
							<td>INFOPLEASE -</td>
							<td><a target="_blank" href='http://www.infoplease.com/'>http://www.infoplease.com/</a></td>
						</tr>
						<tr>
							<td>MAPS OF INDIA</td>
							<td><a target="_blank" href='http://www.mapsofindia.com/'>http://www.mapsofindia.com/</a></td>
						</tr>
						<tr>
							<td>PARLIAMENT OF INDIA</td>
							<td><a target="_blank" href='http://www.parliamentofindia.nic.in/'>http://www.parliamentofindia.nic.in/</a></td>
						</tr>
						<tr>
							<td>INDIAN CONSTITUTION</td>
							<td><a target="_blank" href='http://indiacode.nic.in/coiweb/welcome.html'>http://indiacode.nic.in/coiweb/welcome.html</a></td>
						</tr>
					</tbody>
				</table>
				<br><br>

				<h2>Search Engines</h2>
				<table class="table table-hover table-bordered">
					<thead>
						<tr>
							<th width="50%">
								<h3>Descrption</h3>
							</th>
							<th width="50%">
								<h3>URL
								</h3>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Google</td>
							<td><a target="_blank" href='http://www.google.co.in'>www.google.co.in</a></td>
						</tr>
						<tr>
							<td>Google Scholar</td>
							<td><a target="_blank" href='http://www.scholar.google.com/'>www.scholar.google.com/</a></td>
						</tr>
						<tr>
							<td>Yahoo! Search</td>
							<td><a target="_blank" href='http://in.yahoo.com/'>http://in.yahoo.com/</a></td>
						</tr>
						<tr>
							<td>Altavista</td>
							<td><a target="_blank" href='http://www.altavista.com/'>http://www.altavista.com/</a></td>
						</tr>
						<tr>
							<td>Microsoft Live</td>
							<td><a target="_blank" href='http://www.live.com/'>http://www.live.com/</a></td>
						</tr>
						<tr>
							<td>AOL Search</td>
							<td><a target="_blank" href='http://search.aol.com/aol/webhome'>http://search.aol.com/aol/webhome</a></td>
						</tr>
						<tr>
							<td>Hotbot</td>
							<td><a target="_blank" href='http://www.hotbot.com'>http://www.hotbot.com</a></td>
						</tr>
						<tr>
							<td>Dogpile Search</td>
							<td><a target="_blank" href='http://www.dogpile.com/'>http://www.dogpile.com/</a></td>
						</tr>
						<tr>
							<td>Jadoo-India</td>
							<td><a target="_blank" href='http://www.jadoo.com/'>http://www.jadoo.com/</a></td>
						</tr>
						<tr>
							<td>123India</td>
							<td><a target="_blank" href='http://www.123india.com/'>http://www.123india.com/</a></td>
						</tr>
						<tr>
							<td>Rediff</td>
							<td><a target="_blank" href='http://in.rediff.com/index.html'>http://in.rediff.com/index.html</a></td>
						</tr>
					</tbody>

				</table>
				<br><br>
			</div></div>
		</div>
	</div>
	<nav class="navbar navbar-default navbar-fixed-bottom">
		<div class="container">
			<div class="col-md-3 top">
				Page Hits: {{counter_value}}
			</div>
			<div class="col-md-3 top">
				<span class="glyphicon glyphicon-copyright-mark"></span> Dayananda Sagar University
			</div>
			<div class="col-md-3 top" align="center">
				<a target="_blank" href="../feedback/">Feedback</a>
			</div>
			<div class="col-md-3 top" align="center">
				<a target="_blank" href="../contact/">Contact us</a>
			</div>
		</div>
	</nav>
</body>

</html>
